<div class="module_header">
	<span class="module_header_primary">Backups</span>
</div>
<div class="module_body">
	<div class="module_loading"><span class="module_loading_text">Loading</span></div>
	<div class="backups_chart_header">
			<div class="form-group">
				<select name="month_choice">
				</select>
  		</div>
		<div class="header">Success Rate</div>
		<a href="#" class="chart_toggle"><span class="toggle left on" data-mode="week">Week</span><span class="toggle right" data-mode="month">Month</span></a>
	</div>
	<div class="clear"></div>
	<div class="backups_chart" id="backups_chart_container">
		<div class="canvas" id="backups_chart_canvas"></div>
	</div>
</div>