<div class="module_header">
	<span class="module_header_primary">Environment Health</span>
</div>
<div class="module_body">
	<div class="module_loading"><span class="module_loading_text">Loading</span></div>
	<div class="health_chart">
		<div class="canvas" id="health_chart_canvas"></div>
		<div class="overlay">
			<span class="title">Health Score</span>
			<span class="percentage"><span id="health_chart_percentage">0</span>%</span>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th class="asset">Asset Type</th>
				<th class="health">Healthy</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="asset padding">
					<span class="indicator indicator_green"></span>
					<span class="asset_type">Firewalls</span>
					<span class="asset_count">(4)</span>
				</td>
				<td class="health padding">
					<span class="asset_health_count">4</span>
					<span class="asset_health_percentage">(100%)</span>
				</td>
			</tr>
			<tr>
				<td class="asset">
					<span class="indicator indicator_green"></span>
					<span class="asset_type">Ports</span>
					<span class="asset_count">(12)</span>
				</td>
				<td class="health">
					<span class="asset_health_count">12</span>
					<span class="asset_health_percentage">(100%)</span>
				</td>
			</tr>
			<tr>
				<td class="asset">
					<span class="indicator indicator_yellow"></span>
					<span class="asset_type">Servers</span>
					<span class="asset_count">(325)</span>
				</td>
				<td class="health">
					<span class="asset_health_count">322</span>
					<span class="asset_health_percentage">(98%)</span>
				</td>
			</tr>
			<tr>
				<td class="asset">
					<span class="indicator indicator_green"></span>
					<span class="asset_type">Rds</span>
					<span class="asset_count">(3)</span>
				</td>
				<td class="health">
					<span class="asset_health_count">3</span>
					<span class="asset_health_percentage">(100%)</span>
				</td>
			</tr>
			<tr>
				<td class="asset">
					<span class="indicator indicator_green"></span>
					<span class="asset_type">Switches</span>
					<span class="asset_count">(6)</span>
				</td>
				<td class="health">
					<span class="asset_health_count">6</span>
					<span class="asset_health_percentage">(100%)</span>
				</td>
			</tr>
			<tr>
				<td class="asset">
					<span class="indicator indicator_green"></span>
					<span class="asset_type">Power Bar</span>
					<span class="asset_count">(8)</span>
				</td>
				<td class="health">
					<span class="asset_health_count">8</span>
					<span class="asset_health_percentage">(100%)</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
