{{#if type}}
	<td class="type">{{titleize type}}</td>
	<td class="past active">{{past}}</td>
	<td class="active active">{{active}}</td>
	<td class="future inactive type{{type}}">{{future}}</td>
{{/if}}