<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<% unless flash[:notice].blank? %>    
  <div class="error_messages"><p><%= flash[:notice].html_safe %></p></div>
<% end %>
<table class="grid">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Group Name</td>
      <td>Version Number</td>
      <td>Compliant Count</td>
      <td>Non Compliant Count</td>
      <td>Total</td>
      <td></td>
      <td></td>
      <td>Update At</td>
    </tr>
  </thead>
  <tbody>
  <%@compliance_groups.each do |obj| %>
      <tr>
          <td class="delete" style="width: 1%;">
              <% if current_user.vp_admin_role? %>
                  <%= button_to '&times;'.html_safe, [:sungard, obj], :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to delete this compliance group?')"} %>
              <% end %>  
          </td>
        <%= form_for [:sungard,obj] do |f| %>
          <td><%= obj.name %></td>
          <td><%= obj.group_name %></td>
          <td><%= f.text_field :version,:size=>"15" %></td>
          <td><%= obj.compliant_count %></td>
          <td><%= obj.non_compliant_count %></td>
          <td><%= obj.total_count %></td>
          <td><%= f.submit 'Check Compliance', :onclick =>"this.setAttribute('style', 'pointer-events:none;opacity:0.4')"%></td>
          <td><%= f.submit 'Generate', :onclick =>"this.setAttribute('style', 'pointer-events:none;opacity:0.4')"%></td>
          <td><%= obj.updated_at %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
