<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('sungard').start();
  })

<% end %>
<table id="sungard_companies"class="grid">
  <thead>
  <tr>
    <td colspan="50"class="header_form">
      <%= form_tag sungard_companies_path, :method => 'get', :class => 'submit-button' do %>
        <div class="field">
          <%= text_field_tag 'search',params[:search] || '', :placeholder =>'search companies', :class => 'apply_focus' %>  
          <%= submit_button 'search' %>
        </div>    
      <% end %>
      <% unless @companies.empty? %> <span>50 of 14,203</span> <% end %>
    </td>
  </tr>
    <tr>
      <td>Name</td>
      <td>SNT Code</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% if @companies.empty? %>
    <tr><td colspan="4">No Data</td></tr>
  <% else %>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.snt %></td>
        <td><%= link_to "Users" , :controller => "admin/users", :action => "index", :company_id => company.guid %></td>
       </tr>
    <% end %>
  <% end %>
  </tbody>
</table>