<div id="doc">

<h1>Terms of Use for the Customer Portal </h1>

<h2>A. Scope </h2>

<ol>
  <li>These Terms of Use apply to the use of the customer
  portal operated by <%=t 'global_org.name'%> and the information, services and products available
  on this portal. </li>

  <li><%=t 'global_org.name'%> offers Portal Access for activities such as account management,
  customer support and proactive monitoring and management of customer systems. </li>

  <li>The products and services of <%=t 'global_org.name'%> are governed by
  the terms and conditions of the Customer’s contract with <%=t 'global_org.name'%>. </li>
</ol>

<h2>B. General rules of use </h2>

<ol>
  <li><%=t 'global_org.name'%> explicitly
  reserves the right to close access to the customer portal on a temporary
  or permanent basis. <%=t 'global_org.name'%> also reserves the right to update, amend and
  alter the portal as it determines necessary to support its customers.</li>

  <li>You must use the customer portal in the proper fashion.
  In particular, you must comply with the conditions stipulated here, the terms
  of your agreement and applicable law.</li>

  <li>You are responsible for maintaining the
  confidentiality of your log-in credentials and all activities that occur under your
  log-in credentials. If your log-in credentials are misused or you suspect such
  misuse, you must change your log-in credentials immediately and notify <%=t 'global_org.name'%>.</li>

  <li>You must ensure that your use of the customer portal
  does not damage or disrupt the portal in any way. <%=t 'global_org.name'%> also reserves the
  right to block access to the customer portal if misuse of the customer portal
  is suspected.</li>

  <li>The information stored in or disclosed
  using the portal is subject to the confidentiality and privacy terms of
  the contracts in place between <%=t 'global_org.name'%> and its customers, vendors and/or staff.</li>
</ol>

<p><%=t 'global_org.name'%> reserves the right to revise, amend or modify these Terms
&amp; Conditions, other policies and contracts, and aspects of the Portal
itself.</p>

<hr />
<p>Initial Release: June 2013</p>

</div>
