<div id="admin_form">  
  <%= form_for [:sungard, @help] do |f| %>
    <table>
      <% if @help.errors.any? %>
      <tr>
        <td colspan="100">
          <div class="error_messages">
            <div class="errors">
              <ul>
                <% for message in @help.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
        <% if flash[:notice] %>
            <div class="error_messages"><p><%= flash[:notice] %></p></div>
        <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
           <%= f.label :title %>
           <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :menu_id %>    
          <%= f.select :menu_id, Menu.all.collect {|v| [v.title,v.id]} %>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.label :body %>
            <%= f.text_area :body,:style=>"width: 527px; height: 102px;" %>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
