<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<table class="grid">
  <thead>
    <tr>
      <td>Title</td>
      <td>Menu Choice</td>
      <td>Body</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% @helps.each do |help| %>
    <tr>
      <td><%= link_to help.title, edit_sungard_help_path(help) %></td>
      <td><%= menu_name(help.menu_id) %></td>
      <td><%= truncate help.body, :length => 60 %></td>
      <td class="delete" style="width: 1%;"><%= button_to '&times;'.html_safe, [:sungard, help], :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to delete this help text?')"} %></td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
