<% if @user.first_name.blank? and @user.last_name.blank? %>
Dear Viewpoint user,
<% else %>
Dear <%= @user.first_name%> <%= @user.last_name%>,
<% end %>
An account has been created for you in the Viewpoint portal.
Please use the link below to confirm your account. You will be prompted to create a password for regular access to Viewpoint. Once you do that, you are all set!
<%= services_confirmation_url(:id => @user.confirmation_token) %>
The link is only valid for 24 hours.
