<div class="dialog">
	<% if not @blocked_user_email.blank? %>
	  You are not allowed to impersonate:<strong> <%= @blocked_user_email %></strong>
	<% else %>
	  You are now impersonating: <%= @masquerade_user.email %>
	<% end %>
</div>