@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.module_container{
	border: 1px solid #dedede;
	@include border-radius(3px);
	&.module_margin_right{
		margin-right: 20px;
	}
	.module_header{
		background-color: #666666;
		color: #ffffff;
		padding: 11px 13px 11px 18px;
		border-bottom: 1px solid #dedede;
		@include border-radius(3px 3px 0 0);
		& > .module_header_primary{
			font-size: 13px;
			letter-spacing: 0.4px;
		}
		& > .module_header_secondary{
			font-size: 11px;
			float: right;
		}
	}
	.module_body{
		background-color: #ffffff;
		@include border-radius(0 0 3px 3px);
		overflow: auto;
		position: relative;
	}
	.module_loading{
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #ffffff;
		top: 0;
		left: 0;
		z-index: 999;
		text-align: center;
		.module_loading_text{
			display: block;
			padding-top: 100px;
			color: #333333;
			font-size: 22px;
			font-weight: bold;
		}
	}
}

.module_container.module_collapsible{
	.module_header{
		cursor: pointer;
		position: relative;
	}
	.module_collapsible_icon{
		position: absolute;
		right: 8px;
		top: 14px;
		height: 7px;
		width: 11px;
		background-image: url('ticketing/arrow_up.png');
		background-repeat: no-repeat;
	}
}

.module_container.module_collapsed{
	.module_collapsible_icon{
		background-image: url('ticketing/arrow_down.png');
	}
	.module_body{
		display: none;
	}
}

//need to use id selector here because styles in list.css.scss
#tick_dash ul.module_menu{
	display: block;
	list-style: none;
	padding: 0;
	margin-top: 4px;
	li{
		margin-left: 18px;
		margin-right: 18px;
		display: block;
		padding: 0;
		border-bottom: 1px solid #d9d9d9;
		background-image: url('ticketing/chevron.png');
		background-repeat: no-repeat;
		background-position: 2px 15px;
	}
	li:last-of-type{
		border-bottom: 0;
	}
	a{
		display: block;
		padding: 12px 0;
		color: #666666;
		font-size: 12px;
		font-weight: bold;
	}
	.module_menu_text{
		display: block;
		padding-left: 19px;
	}
}

@import "environment.css.scss";
@import "ticketing.css.scss";

// This can be removed when ui kit is introduced

.form-group {
  select {
    height: auto;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    line-height: normal;
    color: #7C7C7C;
    margin: 7px 0 0;
    min-width: 300px;
    width: 100%;
    padding: 9px 10px 6px;
    letter-spacing: 0.4px;
    -webkit-appearance: none!important;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-image: url("dropdown-icon.png");
    background-position: 100% 50%;
    background-size: 16px 17px;

    &.dark {
    	background-color: #666666;
    	color: #fff;
    	border-color: #a0a0a0;
	background-image: url("dropdown-icon-light.png");

	&[disabled] {
		@include opacity(20);
	}

	option {
	    	background-color: #666666;
	    	color: #fff;
	}

    	&:focus {
    		background-color: #666666;
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #ffffff;
		}
    	}
    }

//    @include mobile {
//      min-width: 0;
//      width: 100%;
//    }
//
//    @include retina{
//      background-image: url("../images/dropdown-icon@2x.png");
//    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #7C7C7C;
    }

    &::-ms-expand {
      display: none;
    }

    &:hover,
    &:focus{
      border: 1px solid #4692AD;
      outline: none;
    }

    &:focus{
      background-color: #fff;
    }
  }

  option {
    &[disabled]{
      color: #CFCFCF;
    }
  }
}

.module_header {
	position: relative;
	.form-group {
		white-space: nowrap;
		position: absolute;
		right: 6px;
		top: 0px;
		> div {}
		label {
			display: inline-block;
			padding-right: 10px;
		}
		select {
			width: auto;
			min-width: auto;
			font-size: 13px;
			padding: 4px 36px 4px 10px;
			&:focus {
				color: #fff;
			}
		}
		option {
			outline: none;
			background-color: #fff;
			color: #666;
		}
	}
}

// stupid IE 

body.ie .module_header .form-group select {
	padding-right: 0;
	background-image: none;
	min-width: 200px;
	option {
		background-color: #666;
		color: #fff;
	}
}

// IE 
body.ie .asset-health .dropdown-container select {
  padding-right: 2px !important;
  padding-left: 2px !important;
  background-image: none !important;
}