#messages_header{
	padding: 25px 20px;
	.messages_header_text{
		color: #ffffff;
		font-size: 22px;
	}
}

#messages{
	margin: 25px;
	min-width: 265px;
}

#messages_module{
	margin-top: 27px;
	padding-bottom: 38px;
	background-color: #ffffff;
	position: relative;
	overflow-x: hidden;
	.module_body{
		height: 600px;
		padding-top: 37px;
		position: relative;
		overflow-y: scroll;
	}
	.module_header{
		position: relative;
		overflow: auto;
		padding: 0 13px;
		height: 39px;
	}
	.module_header_primary{
		float: left;
		margin-top: 11px;
	}
	.messages_create_button{
		color: #ffffff;
		font-size: 12px;
		padding: 5px 0 6px 0;
		width: 115px;
		text-align: center;
		background-color: #5291ae;
		float: right;
		font-weight: 600;
		@include border-radius(3px);
		margin-top: 6px;
	}
	.messages_create_button:hover{
		background-color: #4a839d;
	}
	.dataTables_filter{
		display: none;
	}
	input{
		border: 1px solid #e2e2e2;
		@include border-radius(3px);
		font-size: 12px;
		font-weight: 200;
		width: 130px;
		padding: 5px 25px 6px 10px;
		float: right;
		margin-right: 10px;
		background-image: url('messages/search.png');
		background-repeat: no-repeat;
		background-position: 145px 4px;
		font-family: Arial,Helvetica,sans-serif;
		margin-top: 6px;
		&:focus{
			outline: none;
			border: 1px solid #5291ae;
		}
	}
}

.buttons .messages{
	cursor: pointer;
	.messages_icon_container{
		position: relative;
		width: 64px;
		height: 46px;
	}
	.messages_icon{
		display: block;
		height: 25px;
		width: 24px;
		background-image: url('messages/bell.png');
		position: absolute;
		top: 12px;
		left: 20px;
	}
	.messages_icon_count{
		display: block;
		background-color: #595959;
		color: #ffffff;
		font-size: 10px;
		line-height: 1;
		font-weight: 600;
		text-align: center;
		padding: 3px 0;
		width: 16px;
		@include border-radius(8px);
		position: absolute;
		right: 7px;
		top: 7px;
	}
	.messages_overlay_container{
		position: absolute;
		width: 256px;
		top: 45px;
		left: -100px;
		box-shadow: 0px 0px 5px 2px rgb(0,0,0);
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
		@include border-radius(3px);
		display: none;
	}
	&:hover .messages_overlay_container{
		display: block;
	}
	.messages_overlay_container::before{
		position: absolute;
		content: " ";
		top: -8px;
		left: 124px;
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #666666;
	}
	.messages_overlay_header{
		background-color: #666666;
		color: #ffffff;
		font-weight: 600;
		padding: 11px 13px;
		@include border-radius(3px 3px 0 0);
		font-size: 13px;
		letter-spacing: 0.4px;
		position: relative;
	}
	.messages_overlay_header_link{
		height: 20px;
		width: 20px;
		position: absolute;
		right: 12px;
		top: 9px;
		background-color: #545454;
		@include border-radius(10px);
		background-image: url(messages/arrow_right.png);
		background-repeat: no-repeat;
		background-position: 8px 6px;
	}
	.messages_overlay_body{
		@include border-radius(0 0 3px 3px);
		background-color: #ffffff;
		padding: 0px;
	}
	.messages_overlay_message{
		padding: 15px 15px 0 15px;
		color: #000000;
		overflow: auto;
	}
	.messages_overlay_message:last-child{
		padding-bottom: 10px;
	}
	.messages_overlay_message_divider{
		height: 1px;
		background-color: #e2e2e2;
		clear: both;
	}
	.messages_overlay_message_indicator_container{
		float: left;
		width: 20px;
	}
	.messages_overlay_message_content{
		float: left;
		width: 206px;
		margin-bottom: 10px;
	}
	.indicator{
		height: 3px;
		width: 3px;
		display: inline-block;
		@include border-radius(5px);
	}
	.indicator_green{
		border: 3px solid #379e5f;
	}
	.indicator_yellow{
		border: 3px solid #fabe2c;
	}
	.indicator_red{
		border: 3px solid #a71117;
	}
	.indicator_orange{
		border: 3px solid #FF6600;
	}
	.indicator_blue{
		border: 3px solid #5291ae;
	}
	.indicator_download{
		height: 12px;
		width: 16px;
		position: relative;
		left: -3px;
		top: 1px;
		display: inline-block;
		background-image: url("/assets/messages/download.png");
	}
	.messages_overlay_message_content_title{
		font-size: 13px;
		color: #666666;
		display: block;
		font-weight: 600;
	}
	.messages_overlay_message:hover{
		background-color: #ddeaef;
	}
	.messages_overlay_message_content_date{
		font-size: 13px;
		color: #999999;
		font-weight: 200;
		display: block;
	}
	.messages_overlay_message_content_message{
		display: none;
	}
}

.messages_popup_container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	.messages_popup_overlay{
		background-color: #000000;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0.5;
	}
	.messages_popup_content_wrap{
		max-width: 700px;
		min-width: 375px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		z-index: 2;
		position: relative;
	}
	.messages_popup_content{
		box-shadow: 0px 3px 10px 5px rgb(0,0,0);
		box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.25);
	}
	.messages_popup_content_header{
		padding: 11px 24px;
		@include border-radius(3px 3px 0 0);
		overflow: auto;
		.messages_popup_content_header_text{
			float: left;
			color: #ffffff;
			font-weight: 600;
			font-size: 13px;
			letter-spacing: 0.4px;
		}
		.messages_popup_content_header_subtext{
			float: right;
			color: #ffffff;
			font-weight: 200;
			font-size: 13px;
			margin-right: 36px;
		}
		.messages_popup_content_header_close{
			height: 20px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 9px;
			background-image: url(messages/close_x.png);
			background-repeat: no-repeat;
			background-position: 6px 6px;
			border: 1px solid #ffffff;
			@include border-radius(11px);
			opacity: 0.75;
		}
		.messages_popup_content_header_close:hover{
			opacity: 1;
		}
	}
	.messages_popup_content_header.critical_message{
		background-color: #a71117;
	}
	.messages_popup_content_header.maintenance_message{
		background-color: #5291ae;
	}
	.messages_popup_content_header.warning_message{
		background-color: #fabe2c;
	}
	.messages_popup_content_body{
		background-color: #ffffff;
		@include border-radius(0 0 3px 3px);
		padding: 20px 24px 15px 24px;
	}
	.messages_popup_content_title{
		font-weight: 600;
		font-size: 16px;
		color: #666666;
	}
	.messages_popup_content_message{
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.5;
		margin: 15px 0 50px 0;
	}
	.messages_popup_content_footer{
		overflow: auto;
		position: relative;
	}
	.messages_popup_content_button{
		float: right;
		text-align: center;
		width: 83px;
		padding: 13px;
		font-size: 12px;
		color: #666666;
		font-weight: 600;
		background-color: #f6f6f6;
		@include border-radius(3px);
		border: 1px solid #dedede;
	}
	.messages_popup_content_button:hover{
		background-color: #eeeeee;
	}
	.messages_popup_content_button.disabled{
		cursor: default;
		opacity: 0.25;
		background-color: #f6f6f6;
	}
	.messages_popup_content_button_prev{
		margin-right: 10px;
	}
	.messages_popup_content_button_prev_icon{
		width: 4px;
		height: 6px;
		display: inline-block;
		background-image: url(messages/tri_left.png);
		margin-right: 8px;
		vertical-align: 1px;
	}
	.messages_popup_content_button_next_icon{
		width: 4px;
		height: 6px;
		display: inline-block;
		background-image: url(messages/tri_right.png);
		margin-left: 8px;
		vertical-align: 1px;
	}
	.messages_popup_content_dismiss{
		color: #5291ae;
		font-weight: 600;
		font-size: 13px;
		margin-top: 13px;
		float: left;
		.messages_popup_content_dismiss_icon{
			width: 18px;
			height: 18px;
			@include border-radius(9px);
			display: inline-block;
			background-image: url(messages/close_x.png);
			background-position: 5px 5px;
			background-repeat: no-repeat;
			margin-right: 7px;
			vertical-align: -4px;
			background-color: #5291ae;
		}
		&:hover{
			color: #41748b;
			.messages_popup_content_dismiss_icon{
				background-color: #41748b;
			}
		}
	}
}

//responsive mobile mode
@media only screen and (max-width : 540px) {
	#messages_module{
		.module_header{
			height: 115px;
		}
		.module_header_primary{
			float: none;
			display: block;
		}
		.messages_create_button{
			display: block;
			margin-top: 10px;
			float: none;
		}
		input{
			display: block;
			margin-top: 10px;
			float: none;
		}
		.thead_original_container{
			top: 116px;
		}
	}
}

/* new message styles */

#new_message{
	overflow: auto;
	margin: 25px;
	min-width: 265px;
}

#new_message > .grid_col_1{
	float: left;
	width: 265px;
}

#new_message > .grid_col_2{
	float: left;
	margin-left: 20px;
	width: 765px;
}

#new_message_help{
	.module_header{
		background-color: #f6f6f6;
	}
	.module_header_primary{
		color: #666666;
		font-weight: 600;
	}
	.module_body{
		padding: 20px 19px;
	}
	.new_message_help_text{
		color: #4a4a4a;
		font-size: 12px;
		font-weight: 200;
		line-height: 1.5;
	}	
	.new_message_help_preview{
		margin: 10px 0 0 0;
		width: 100%;
	}
	.new_message_help_link{
		display: block;
		@include border-radius(3px);
		border: 1px solid #dedede;
		font-size: 13px;
		letter-spacing: 0.4px;
		text-align: center;
		padding: 11px 0px;
		background-color: #f6f6f6;
		color: #666666;
		font-weight: 600;
		margin-top: 10px;
	}
	.new_message_help_link:hover{
		background-color: #eeeeee;
	}
}

#new_message_main{
	.module_body{
		padding: 0px 22px;
	}
	.input_group{
		padding: 25px 0;
		border-bottom: 1px solid #dfdfdf;
		overflow: auto;
	}
	.input_group_last{
		border-bottom: 0;
	}
	.input_group_header{
		font-size: 13px;
		font-weight: 600;
		color: #333333;
	}
	.input_group_header_collapsed{
		width: 150px;
		float: left;
	}
	.input_group_content{

	}
	.input_group_content_collapsed{
		float: left;
	}
	.radio_button_input{
		display: none;
	}
	.radio_button{
		display: inline-block;
		@include border-radius(3px);
		border: 1px solid #dedede;
		font-size: 13px;
		letter-spacing: 0.4px;
		text-align: center;
		padding: 11px 0px;
		background-color: #ffffff;
		font-weight: 600;
		width: 160px;
		margin-right: 19px;
		line-height: 1;
	}
	
	.radio_button_indicator{
		height: 19px;
		width: 19px;
		display: inline-block;
		margin-right: 12px;
		@include border-radius(10px);
		vertical-align: -5px;
	}
	.radio_button_indicator_fill{
		height: 9px;
		width: 9px;
		@include border-radius(5px);
		background-color: #ffffff;
		display: inline-block;
		margin: 5px;
	}
	.radio_button:hover{
		background-color: #f6f6f6;
		.radio_button_indicator_fill{
			background-color: #f6f6f6;
		}
	}

	.radio_button_maintenance{
		color: #5291ae;
		.radio_button_indicator{
			border: 1px solid #5291ae;
		}
	}
	.radio_button_maintenance.radio_button_selected{
		background-color: #5291ae;
	}

	.radio_button_alert{
		color: #fabe2c;
		.radio_button_indicator{
			border: 1px solid #fabe2c;
		}
	}
	.radio_button_alert.radio_button_selected{
		background-color: #fabe2c;
	}

	.radio_button_critical{
		color: #a71117;
		.radio_button_indicator{
			border: 1px solid #a71117;
		}
	}
	.radio_button_critical.radio_button_selected{
		background-color: #a71117;
	}

	.radio_button_selected{
		color: #ffffff;
		.radio_button_indicator{
			border: 1px solid #ffffff;
		}
		.radio_button_indicator_fill{
			background-color: #ffffff;
		}
	}
	.radio_button_selected:hover{
		.radio_button_indicator_fill{
			background-color: #ffffff;
		}
	}

	input, textarea{
		font-family: Arial,Helvetica,sans-serif;
	}

	.input_checkbox_container{
		.input_checkbox{
			width: 17px;
			height: 17px;
			border: 1px solid #dfdfdf;
			@include border-radius(2px);
			position: relative;
			display: inline-block;
			margin-right: 12px;
			cursor: pointer;
		}
		.input_checkbox:hover{
			border: 1px solid #b2b2b2;
		}
		.input_checkbox_selected{
			border: 1px solid #5291ae;
			background-image: url(messages/blue_check.png);
			background-repeat: no-repeat;
			background-position: 3px 4px;
		}
		.input_checkbox_input{
			position: absolute;
			top: 0;
			left: 0;
			height: 18px;
			width: 18px;
			opacity: 0;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
		.input_checkbox_label{
			color: #333333;
			font-size: 12px;
			font-weight: 200;
			cursor: pointer;
			vertical-align: 5px;
			cursor: pointer;
		}
	}
	.new_message_display_options .input_checkbox_container, .new_message_duration .input_checkbox_container{
		float: left;
	}
	.new_message_display_options .input_checkbox_container:first-child, .new_message_duration .input_checkbox_container:first-child{
		width: 150px;
	}
	.new_message_type{
		.input_group_header{
			margin-top: 5px;
		}
	}
	.new_message_display_options{
		.input_group_header{
			margin-top: 2px;
		}
	}
	.new_message_duration{
		.input_group_header{
			margin-top: 15px;
		}
		.input_checkbox_container{
			margin-top: 12px;
		}
		.new_message_duration_input{
			float: left;
			display: inline-block;
			@include border-radius(3px);
			border: 1px solid #dedede;
			font-size: 13px;
			letter-spacing: 0.4px;
			padding: 11px 22px 11px 12px;
			width: 130px;
			margin: 0 23px 0 0;
			color: #333333;
			font-weight: 200;
			background-image: url(messages/calendar.png);
			background-position: 140px 10px;
			background-repeat: no-repeat;
			&:focus{
				outline: none;
				border: 1px solid #5291ae;
			}
		}
	}
	.new_message_content{
		.input_group_header{
			margin-bottom: 10px;	
		}
		.new_message_subject{
			width: 100%;
			display: block;
			@include border-radius(3px);
			border: 1px solid #dedede;
			font-size: 14px;
			letter-spacing: 0.4px;
			padding: 11px 12px;
			color: #333333;
			font-weight: 200;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-bottom: 20px;
			&:focus{
				outline: none;
				border: 1px solid #5291ae;
			}
		}
		.new_message_subject:focus{
			border: 1px solid #5291ae;
		}
		.new_message_message{
			display: block;
			@include border-radius(3px);
			border: 1px solid #dedede;
			font-size: 14px;
			letter-spacing: 0.4px;
			padding: 11px 12px;
			color: #333333;
			font-weight: 200;
			height: 430px;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&:focus{
				outline: none;
				border: 1px solid #5291ae;
			}
		}
	}


	.new_message_target{
		.input_group_header{
			margin-bottom: 10px;	
		}
		.input_filter_select_container{
			width: 48%;
			float: right;
			.input_filter_select_header{
				margin-bottom: 7px;
				color: #666666;
				font-size: 11px;
				display: block;
			}
			.input_filter_select_options_container{
				@include border-radius(3px);
				border: 1px solid #dedede;
				padding: 12px 17px;
			}
			.input_filter_select_input_container{
				position: relative;
			}
			.input_filter_select_input{
				width: 100%;
				display: block;
				@include border-radius(3px);
				border: 1px solid #dedede;
				font-size: 12px;
				letter-spacing: 0.4px;
				padding: 9px 12px;
				color: #333333;
				font-weight: 200;
				width: 100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin-bottom: 20px;
				&:focus{
					outline: none;
					border: 1px solid #5291ae;
				}
			}
			.input_filter_select_input_icon{
				background-image: url('messages/search_light.png');
				height: 16px;
				width: 16px;
				position: absolute;
				right: 9px;
				top: 8px;
			}
			.input_filter_select_options{
				height: 160px;
				overflow-y: scroll;
			}
			.input_filter_select_option{
				margin-bottom: 5px;
			}
		}
		.input_filter_select_container:first-child{
			float: left;
		}
	}

	.input_buttons{
		margin-bottom: 20px;
		overflow: auto;
		.input_button{
			float: right;
			@include border-radius(3px);
			border: 1px solid #dedede;
			font-size: 12px;
			letter-spacing: 0.4px;
			text-align: center;
			padding: 11px 0px;
			font-weight: 600;
			width: 84px;
			margin-left: 10px;
			line-height: 1;
		}
		.gray_button{
			background-color: #f6f6f6;
			color: #666666;
		}
		.gray_button:hover{
			background-color: #eeeeee;
		}
		.blue_button{
			background-color: #5291ae;
			color: #ffffff;
		}
		.blue_button:hover{
			background-color: #41748b;
		}
	}
}

//responsive tablet+mobile mode
@media only screen and (max-width : 1100px) {
	#new_message_main{
		.input_group_content_collapsed {
			margin-left: 100px;
		}
		.new_message_target{
			.input_filter_select_container{
				width: 100%;
				float: none;
				&:first-child{
					margin-bottom: 20px;
				}
			}
		}
		.input_group_header_collapsed{
			width: 100px;
			float: left;
		}
		.new_message_type, .new_message_display_options, .new_message_duration{
			.input_group_header{
				margin-top: 0;
			}
		}
		.radio_button{
			display: block;
			margin-top: 10px;
			margin-right: 0;
			text-align: left;
			padding-left: 10px;
			width: 130px;
			&:first-child{
				margin-top: 0;
			}
		}
		.new_message_display_options .input_checkbox_container, .new_message_duration .input_checkbox_container{
			float: none;
			margin-top: 2px;
			&:first-child{
				margin-top: 0;
			}
		}
		.new_message_duration{
			.new_message_duration_input{
				float: none;
				display: block;
				margin: 5px 0 0 0;
			}
		}
	}
}

//responsive mobile mode
@media only screen and (max-width : 760px) {
	#new_message > .grid_col_2{
		margin-left: 0;
	}
	#new_message_main.module_container{
		margin-top: 20px;
	}
	#new_message_main{
		.input_group_content_collapsed {
			margin-left: 20px;
		}
		.input_buttons{
			.input_button{
				margin-left: 9px;
			}
		}
	}
}