#tick_dash{
	overflow: auto;
	margin: 25px;
}

#tick_dash > .grid_col_1{
	float: left;
	width: 265px;
}

#tick_dash > .grid_col_2{
	float: left;
	margin-left: 20px;
	width: 765px;
}

#tick_dash_help{
	margin-top: 19px;
	.module_body{
		padding-bottom: 6px;
	}
}

#tick_dash_my_tickets{
	.module_body{
		padding-bottom: 6px;
	}
}

#tick_dash_administration{
	margin-top: 19px;
	.module_body{
		padding-bottom: 6px;
	}
	.module_menu{
		border-bottom: 1px solid #d9d9d9;
	}
	.my_profile{
		display: block;
		padding: 12px 0;
		background-image: url('ticketing/profile.png');
		background-repeat: no-repeat;
		background-position: 0px 13px;
		color: #5291ae;
		font-size: 12px;
		margin: 0 16px;
		font-weight: bold;
		.my_profile_text{
			padding-left: 21px;
		}
	}

}

#tick_dash_reports{
	margin-top: 19px;
	.module_body{
		padding-bottom: 6px;
	}
}

#tick_dash_main{
	.tick_dash_buttons{
		margin: 27px 28px;
		overflow: auto;
	}
	.tick_dash_button{
		display: block;
		float: left;
		width: 341px;
		border: 1px solid #d9d9d9;
		@include border-radius(3px);
		.tick_dash_button_header{
			height: 170px;
			background-color: #f6f6f6;
			text-align: center;
			@include border-radius(3px 3px 0 0);
		}
		.tick_dash_button_footer{
			background-color: #5291ae;
			text-align: center;
			padding: 17px 0;
			color: #ffffff;
			font-size: 15px;
			font-weight: bold;
			@include border-radius(0 0 3px 3px);
		}
		.tick_dash_button_icon{
			margin-left: auto;
			margin-right: auto;
		}
		.tick_dash_button_report{
			margin-top: 48px;
		}
		.tick_dash_button_request{
			margin-top: 48px;
		}
		.tick_dash_button_open_request{
			margin-top: 40px;
		}
		.tick_dash_button_open_ticket{
			margin-top: 39px;
		}
	}
	.tick_dash_button:nth-of-type(2n){
		margin-left: 20px;
	}
	.tick_dash_button:nth-of-type(n+3){
		margin-top: 20px;
	}

}

#tick_dash_header{
	padding: 25px 20px;
	.tick_dash_header_text{
		color: #ffffff;
		font-size: 22px;
	}
}

#env_dash_ticketing .ticketing_table {
	td.inactive.future {
		&.typeIncidents, &.typeRequests {
			&:after {
				display: inline;
				content: '--';
			}
		}
	}
}

//responsive mobile mode
@media only screen and (max-width : 680px) {
	#tick_dash > .grid_col_2{
		margin-left: 0;
	}
	#tick_dash_main.module_container{
		margin-bottom: 20px;
	}
	#tick_dash_main{
		.tick_dash_button{
			float: none;
		}
		.tick_dash_button:nth-of-type(2n){
			margin-left: 0px;
		}
		.tick_dash_button:nth-of-type(n+2){
			margin-top: 20px;
		}
	}
	
}
