<div id="admin_form">  
<%= form_for [:sungard, @statement] do |f| %>
<table>
  <% if @statement.errors.any? %>
    <tr>
      <td colspan="100">
        <div class="error_messages">
          <div class="errors">
            <ul>
              <% for message in @statement.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% else %>
    <% if flash[:notice] %>
        <div class="error_messages"><p><%= flash[:notice] %></p></div>
    <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= f.label :report_id %>
      <%= f.text_field :report_id %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :display_name %>
      <%= f.text_field :display_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :type %>
      <%= f.text_field :type %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :meta_type %>
      <%= f.text_field :meta_type %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :file_name %>
      <%= f.text_field :file_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :ext %>
      <%= f.text_field :ext %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :position %>
      <%= f.text_field :position %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
</div>