<nav>
  <!-- ul>
    <li><a class="active" href="">details</a></li>
    <li><a class="inactive" href="">viewer</a></li>
  </ul -->
</nav>
<dl>
  <dt>ID</dt>
  <dd><%= @device.id  || '--' %></dd>
  <dt>ASSET GUID</dt>
  <dd><%= @device.asset_guid  || '--'  %></dd>
  <dt>OWNER</dt>
  <dd><%= @device.company_own.company  || '--'  %></dd>
  <dt>TYPE / CLASS</dt>
  <dd><%= @device.type  || '--'  %></dd>
  <dt>PRIORITY</dt>
  <dd><%= @device.priority  || '--'  %></dd>
  <dt>PRODUCTION STATE</dt>
  <dd><%= @device.istatus  || '--'  %></dd>
  <dt>LOCATION</dt>
  <dd><%= @device.location  || '--'  %></dd>
  <dt>DESCRIPTION</dt>
  <dd class="multi"><%= @device.description  || '--'  %></dd>
  <dt>CATEGORY</dt>
  <dd><%= @device.circuit_category  || '--'  %></dd>
  <dt>TELCO</dt>
  <dd><%= @device.vendor_id  || '--'  %></dd>
  <dt>ACTIVE DATE</dt>
  <dd><%= @device.active_date  || '--'  %></dd>
</dl>
