<!-- event form and grid -->
<input type="hidden" class="page" name="page" value="1" />
<input type="hidden" class="sort_field" name="sort_field" value="last_time" />
<input type="hidden" class="sort_dir" name="sort_dir" value="desc" />

<input type="hidden" class="first_seen" name="first_seen" value="" />
<input type="hidden" class="first_seen_append" name="first_seen_append" value="" />

<input type="hidden" class="last_seen" name="last_seen" value="" />
<input type="hidden" class="last_seen_append" name="last_seen_append" value="" />

<div style="overflow:auto; overflow-y: hidden; overflow-x:auto; width:1px;" class="findWidth">
	<form id="events_form" class='<%= @event_api %>'>
		<input type="hidden" id="first_time" name="first_time" />
		<input type="hidden" id="last_time" name="last_time" />
		<table border="0" cellpadding="0" class="grid">
			<thead>
				<tr>
					<td class="event_asset_name">Asset</td>
					<td>
						<label for="event_state">Status</label>
						<select id ="event_state" name ="event_state" multiple="multiple" size="9">

							<option value="6">Aged</option>
							<option value="4">Cleared</option>
							<option value="3">Closed</option>

							<option value="2">Suppressed</option>
							<option value="1">Acknowledged</option>
							<option value="0">New</option>

							<!-- option value="6" title="Aged" rel="status state-Aged"></option>
							<option value="4" title="Cleared" rel="status state-Cleared"></option>
							<option value="3" title="Closed" rel="status state-Closed"></option>

							<option value="2" title="Suppressed" rel="status state-2"></option>
							<option value="1" title="Acknowledged" rel="status state-1"></option>
							<option value="0" title="New" rel="status state-0"></option-->
						</select>
					</td>
					<td><label>Severity</label>
						<select id="event_severity" name="severity" multiple="multiple" size="4">
							<option value="5" title="Critical" rel="status severity-5"></span></option>
							<option value="4" title="Error" rel="status severity-4"></span></option>
							<option value="3" title="Warning" rel="status severity-3"></span></option>
							<option value="2" title="Information" rel="status severity-2"></span></option>
							<option value="1" title="Debug" rel="status severity-1"></span></option>
							<option value="0" title="Clear" rel="status severity-0"></span></option>
						</select>
					</td>
					<td><label>Component</label><input name="component" type="text" /></td>
					<td><label>Event Class</label><input name="event_class" type="text" /></td>
					<td><label>Summary</label><input name="summary" id="summary" type="text" /></td>
					<td class="td-relative"><label>First Seen</label><a id="first_seen">Select Date Range</a>
						<div class="date_drop_down">
							<ul id="first_seen_list">
								<li rel="+0d,+0d">Today</li>
								<li rel="-7d,+0d">Last 7 days</li>
								<li rel="-1m,+0d">Last month</li>
								<li rel="-<%=Time.now.day-1%>d,+0d">Month to date</li>
								<li rel="null,null">Clear</li>
							</ul>
							<div><div id="first_start_date_div" class="date"></div></div>
							<div><div id="first_end_date_div" class="date"></div><input type="submit" value="Apply" /></div>
						</div>
					</td>
					<td class="td-relative"><label>Last Seen</label><a id="last_seen">Select Date Range</a>
						<div class="date_drop_down">
							<ul id="last_seen_list">
								<li rel="+0d,+0d">Today</li>
								<li rel="-7d,+0d">Last 7 days</li>
								<li rel="-1m,+0d">Last month</li>
								<li rel="-<%=Time.now.day-1%>d,+0d">Month to date</li>
								<li rel="null,null">Clear</li>
							</ul>
							<div><div id="last_start_date_div" class="date"></div></div>
							<div><div id="last_end_date_div" class="date"></div><input type="submit" value="Apply" /></div>
						</div>
					</td>
					<td><label>Count</label><input name="count" type="text" /></td>
					<td><label>Impact</label><input name="device_impact" type="text" /></td>
					<td><label>Prod State</label>
						<select id="prod_state" name="prod_state" multiple="multiple" size="12">
							<option value="1000">Installed-Active</option>
							<option value="600">Installed-PreProd</option>
							<option value="500">Pending Impl</option>
							<option value="400">Maintenance</option>
							<option value="300">Repair</option>
							<option value="200">Pending Transfer</option>
							<option value="10">Not in SVC</option>
							<option value="0">Unknown</option>
							<option value="-1">Inactive</option>
							<option value="-2">Pending Disco</option>
							<option value="-3">Decommissioned</option>
						</select>
					</td>
					<td><label>Incident</label><input name="sn_number" type="text" value="" /></td>
					<td><label>Location</label><input name="location" type="text" /></td>
					<td><label>Device Class</label><input name="device_class" type="text" />
						<input type="hidden" name="<%= @type %>" value="<%= @guid %>" />
					</td>
				</tr>
			</thead>
			<tbody id="event_results">
				<tr>
					<td colspan="100" class="fill"></td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</form>
	<b class="left"></b>
	<b class="right"></b>
	<b class="bottom">
		<a><em></em></a><span>&nbsp;</span><a><em></em></a>
	</b>
</div>

