<div>
<!-- graph widgets -->
    <% if @device.zenoss_device.graphs.blank? %>
        <%= render :partial => "no_data" %>
    <% else %>
	    <% @device.zenoss_device.graphs.each do |g| %>
	        <input class="dgraph" type="hidden" title="<%= g.title %>" rel="<%= @device.asset_guid %>&<%= g.gopts %>" /> 
	    <% end %>
    <% end %>
</div>