<div id="quick_links">
	<h2>quick links</h2>
	<ul class="active">
		<!-- zenoss links -->
		<% unless @device.zenoss_pdf_report_link.blank? %>
			<li><a href="<%= @device.zenoss_pdf_report_link %>" target="_blank">Device PDF Report</a></li>
		<% end %>
	</ul>
</div>