<div id="support">
	<h2>support</h2>

	<% if @device.support_contracts.blank? %>
	<p>No support contracts available.</p>
	<% else %>
		<% @device.support_contracts.each do |c| %>
		<p class="expand">Contract: <%= c.support_vendor.name %> </p>
			<div>
				<ul>
					<li>Vendor: <%= c.support_vendor.name %></li>
					<li>Phone: <%= c.support_vendor.phone %></li>
					<li>Contract Number: <%= c.contract_number %></li>
					<li>Start Date: <%= c.start_date %></li>
					<li>End Date: <%= c.end_date %></li>
					<li>SLA: <%= c.sla_description %></li>
					<li>Escalation: <%= c.support_vendor.escalation_notes %></li>
					<li>SG Escalation: <%= c.support_vendor.sungard_escalation_notes %></li>
				</ul>
			</div>	
		<% end %>
	<% end %>
</div>
