<div id="thresholds">
  <table class="grid device_threshold">
    <thead>
      <tr>
        <th>Threshold</th>
        <th>Severity</th>
        <th>Escalate Count</th>
        <th>Enabled</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>

<% if !@cpu_memory.nil? %>
  <% @cpu_memory.each do |v| %>
      <tr>
        <td><%= v["name"] || '--' %></td>
        <td><%= v["severity"] || '--'  %></td>
        <td><%= v["escalate_count"] || '--'  %></td>
        <td><%= v["enabled"]  %></td>
        <td><%= v["value"] || '--'  %></td>
      </tr>
  <% end %> 
<% else %>
      <tr>
        <td colspan="5" class="no_results">No results returned</td>
      </tr>
<% end %>

  </tbody>
</table>

<table class="grid device_threshold">
  <thead>
    <tr>
      <th>Filesystem</th>
      <th>Severity (min/maj)</th>
      <th>Escalate Count (min/maj)</th>
      <th>Enabled (min/maj)</th>
      <th>Value (min/maj)</th>
    </tr>
  </thead>

  <tbody>

<% if @mountpoints %> 
  <% @mountpoints.each do |v| %>
    <% if v["overridden"] %>
      <tr class="threshold_overridden" title="overridden">
    <% else %>
      <tr>
    <% end %>
        <td title="<%= v["name"] %>"><%= v["name"] %></td>
        <td><%= v["minor"]["severity"] %> / <%= v["major"]["severity"] %></td>
        <td><%= v["minor"]["escalate_count"] %> / <%= v["major"]["escalate_count"] %></td>
        <td><%= v["minor"]["enabled"] %> / <%= v["major"]["enabled"] %></td>
        <td><%= v["minor"]["value"] %> / <%= v["major"]["value"] %></td>
      </tr>
  <% end %> 
<% else %>
      <tr>
        <td colspan="5" class="no_results">No results returned</td>
      </tr>
<% end %>

    </tbody>
  </table>
  
</div>
