<% unless @device %>
<h2>devices</h2>
<% end %>

<% if @devices %>
<%= link_to '', export_devices_path, :class => 'download button', :title => 'export devices' %>
<% end %>

<% if @device %>
<h2 class="tool-name server"><div><%= @device.name %></div></h2>
<h2 class="button" id="device_detail_select">
	<div class="expand"><b class="here">Dashboard</b>
		<ul>
	        <li class='active'><span class="badge"></span><b>Dashboard</b>

	        </li>
	        <li class="incidents_link" rel="1"><span class="incidents_badge"></span><b>Incidents</b>

	        </li>
	        <li class="changes_link"><span class="change_tickets_badge"></span><b>Changes</b>

	        </li>
	        <li class="mx_windows_link"><span class="mx_windows_badge"></span><b>MX Windows</b>
	
	        </li>
	        <li class="events_link">
	        	<% if @events_count && @events_count > 0 %>
					<span class="badge"><%= @events_count %></span>
				<% end %>
				<b>Events</b>
	        </li>
	        <li class="thresholds_link"><b>Thresholds</b></li>

	        <li class="components_link"><b>Components</b></li>
	        <li><b>Graphs</b></li>
		</ul>
	</div>
</h2>
<h2 class="position">
	<a class="dashboard_link active" title="Dashboard"></a>
	<a class="incidents_link" title="Incidents"></a>
	<a class="changes_link" title="Changes"></a>
	<a class="mx_windows_link" title="MX Windows"></a>
	<a class="events_link" title="Events"></a>
	<a class="thresholds_link" title="Thresholds"></a>
	<a class="components_link" title="Components"></a>
	<a class="graphs_link" title="Graphs"></a>
</h2>

<h2 id="event_types" style="display: none;">
	<a class="events">Live</a>
	<a class="event_histories">History</a>
</h2>

<!-- h2 class="button">
	<div id="event_counts">
		<ul>
			<li class="critical">
				<p>0</p>
			</li>
			<li class="error">
				<p>0</p>
			</li>
			<li class="warning">
				<p>0</p>
			</li>
			<li class="info">
				<p>0</p>
			</li>
		</ul>
	</div>
</h2 -->
<% end %>
