<div class="pane" title="Device Time"><%= render :partial => "/widgets/device_time" %></div>

<div class="pane" rel="<%= device_widget_incidents_path(device_id: @device.asset_guid) %>" title="Incidents"></div>
<div class="pane" rel="<%= device_widget_change_tickets_path(device_id: @device.asset_guid) %>" title="Changes"></div>
<div class="pane" rel="<%= device_widget_maintenance_windows_path(device_id: @device.asset_guid) %>" title="MX Windows"></div>
