<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('rails').start();
     //Set the selected page as events
     window.C.page = "ms-devices";
  })
<% end %>

<table class="grid delay_apply_datatable show_all" >
  <thead>
  <tr>
    <th class="no_sort"></th>
    <th>Name</th>
    <th>SNMP Sysname</th>
    <th>IP Address</th>
    <th>HW Model</th>
    <th>Location</th>
    <th>OS Model</th>
    <th>Priority</th>
    <th>Production State</th>
    <th>Company</th>
  </tr>
  </thead>
  <tbody>
  <% @devices.each do |d| %>
  <tr>
    <% if d.support_show_command? %>
      <td>
        <% if current_user.command_access? %>
          <a href="#" rel="<%=d.asset_guid %>" class="cmd-modal-link"/>
        <% else %>
          <a href="#" class="cmd-modal-link-disabled"/>
        <% end %>
      </td>
    <% else %>
     <td>
     </td>
    <% end %>
    <td><%= link_to d.name, device_path(d.asset_guid) %></td>
    <td><%= d.snmp_sys_name %></td>
    <td><%= d.display_ip %></td>
    <td><%= d.hw_model %></td>
    <td><%= d.location %></td>
    <td><%= d.os_model %></td>
    <td><%= d.priority %></td>
    <td><%= d.production_state %></td>
    <td><%= d.company_use %></td>
  </tr>
<% end %>
</tbody>
</table>
