<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<p>
  Total events <%= @event_subscriptions.length %>
<p>
<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Name</th>
    <th>Total Assets</th>
    <th>Severity</th>    
    <th>Raw-ID</th>    
    <th></th>
    <th></th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% @event_subscriptions.each do |event_subscription| %>
  <tr>
    <td><%= event_subscription.name %> </td>
    <td><%= event_subscription.asset_list.length %></td>    
    <td><%= event_subscription.severity %></td>
    <td><%= link_to "#{event_subscription.rawid}", sungard_event_subscription_path(event_subscription) %></td>
  </tr>
<% end %>
</tbody>
</table>