<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<% @event_subscription.attributes.each do |key, val| %>
	<p><%=key%> : <%=val%></p>
<% end %>
