<div id="admin_form">  
  <%= form_for [:sungard,@menu] do |f| %>
    <table>
       <% if @menu.errors.any? %>
      <tr>
        <td colspan="100">
          <div class="error_messages">
            <div class="errors">
              <ul>
                <% for message in @menu.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
        <% if flash[:notice] %>
            <div class="error_messages"><p><%= flash[:notice] %></p></div>
        <% end %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit %>
          </td>
        </tr>
    </table>
  <% end %>
</div>
