<%= form_for @graph_new do |f| %>

  <table>
    <tr>
      <td colspan="2">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :metric %>      
        <%= f.hidden_field :metric %>
        <select class="processed" id="graph_metric_list">
          <option value=''>Select One...</option> 
          <option value='sysUpTime'>System Uptime</option> 
          <option value='laLoadInt1'>Load (1 min)</option>
          <option value='laLoadInt5'>Load (5 min)</option>
          <option value='laLoadInt15'>Load (15 min)</option>
          <option value='memAvailReal'>Memory Available (Real)</option>
          <option value='memAvailSwap'>Swap Available</option>
          <option value='memBuffer'>Memory Buffer</option>
          <option value='memCached'>Memory Cached</option>
          <option value='ssCpuIdle'>CPU Idle</option>
          <option value='ssCpuRawWait'>CPU Wait</option>
          <option value='ssCpuSystem'>CPU System</option>
          <option value='upuTotalIdlePercent'>Idle %</option>
          <option value='loadAverage1min'>Load Average (1 min)</option>
          <option value='loadAverage5min'>Load Average (5 min)</option>
          <option value='loadAverage15min'>Load Average (15 min)</option>
          <option value='memInUse'>Memory In Use</option>
          <option value='numPageFaults'>Page Faults</option>
          <option value='numPageIns'>Page Ins</option>
          <option value='numPageOuts'>Page Outs</option>
          <option value='swapInUse'>Swap In Use</option>
        </select>

      </td>
      <td>
        <%= f.label :assets %>
        <%= f.hidden_field  :assets %>
        <div class="select_height">
          <select id="graph_assets_list" multiple="multiple" disabled="disabled" style="width:auto;"></select>
        </div>
      </td>
    </tr>
    <tr style="display: none">
      <td>
        <%= f.label :timeframe %>
        <%= f.select :timeframe, [["Day", "day"]] %>
      </td>
      <td>&nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2">        
        <% unless dash_id.blank? %>
          <%= hidden_field_tag('dash_id',dash_id) %>
          <input type="hidden" name="company_guid" class="company_guid" value="<%= current_user.company_guid %>" />
        <%end%>
        &nbsp;
        <%= f.hidden_field  :uid %>
        <%= f.submit %>
      </td>
    </tr>
  </table>
<% end %>