<% content_for :requirejs do %>
  require(['viewpoint/dashboards_page'], function(vp_dashboards_page){
    vp_dashboards_page.init()
  })
<% end %>
<div style="padding:1em;">
	<%= render :partial => "form",:locals =>{:dash_id => @dash_id} %>
</div>
