<% content_for :tools_name, "Health" %>
<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<a class="button" onclick="window.history.back()">back</a>