<div>
	<table>
     <tr>
     	<td >
     		<p>Your confirmation link is invalid, kindly re-process change email request once again.</p>
     	</td>
     </tr>
     <tr>
        <td style="text-align:center;"><%= button_to "Login to Viewpoint", root_path, :method => :get %></td>
     </tr>
	</table>
</div>
