<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="30px" height="30px" viewBox="0 0 610.846 610.848"
         xml:space="preserve">
<path d="M305.424,0C136.743,0,0,136.743,0,305.424c0,168.682,136.743,305.424,305.424,305.424
        c168.684,0,305.422-136.742,305.422-305.424C610.846,136.743,474.107,0,305.424,0z M494.47,330.971
        c-27.317,0-52.447,9.298-72.454,24.875l63.767,71.04c1.581-0.384,3.258-0.521,4.972-0.36c8.313,0.781,14.416,8.157,13.635,16.471
        c-0.786,8.305-8.157,14.412-16.466,13.631c-8.314-0.781-14.421-8.157-13.636-16.471c0.223-2.367,0.98-4.55,2.141-6.453
        l-57.499-75.395c-25.992,21.66-42.539,54.265-42.539,90.749c0,39.968,19.861,75.296,50.251,96.662
        c-36.426,18.411-77.605,28.799-121.217,28.799c-43.608,0-84.788-10.388-121.219-28.799c25.928-18.228,44.144-46.634,48.951-79.396
        l-94.361-13.924c-0.973,1.307-2.175,2.48-3.598,3.456c-6.894,4.706-16.3,2.931-21.006-3.963c-4.706-6.898-2.933-16.301,3.962-21.007
        c6.894-4.706,16.301-2.936,21.006,3.958c1.34,1.97,2.154,4.134,2.474,6.34l92.045,21.2c0.493-4.379,0.781-8.82,0.781-13.327
        c0-65.221-52.866-118.085-118.083-118.085c-28.449,0-54.549,10.065-74.936,26.825c-3.34-16.944-5.108-34.447-5.108-52.372
        c0-148.614,120.476-269.09,269.09-269.09c73.693,0,140.438,29.646,189.032,77.632L320.468,274.575
        c-4.545-2.22-9.646-3.47-15.044-3.47c-18.954,0-34.319,15.366-34.319,34.319c0,18.957,15.366,34.32,34.319,34.32
        c18.954,0,34.322-15.363,34.322-34.32c0-3.91-0.663-7.667-1.875-11.168L499.512,119.15c46.416,48.353,75.002,113.957,75.002,186.274
        c0,17.925-1.771,35.428-5.107,52.372C549.02,341.036,522.919,330.971,494.47,330.971z"/>
</svg>