<div class="dialog">
  <h3>Something went wrong with your login.</h3>
  <p><strong><%= link_to 'Click here to re-login.', logout_path %></strong> If you have any problems please contact the Client Response Center at 1-800-441-1181.</p> 
</div>