<% 
@type = "company_guid"
@guid = '' # @company_guid ?
%>

<% content_for :requirejs do %>
  require(['sg/jquery','viewpoint/events_page','domReady!'], function($, vp_events_page){
    vp_events_page.init();

    $('#events form').addClass('event_histories_company');
  });

<% end %>


<div id="events">
<%= render :partial => "/devices/events" %>
</div>
