<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('events').start();
  })

<% end %>


<% 
@type = "company_guid"
@guid = '' # @company_guid ?
%>

<div id="events">
<%= render :partial => "/devices/events" %>
</div>

