<h3>Same Path</h3>
<div style="padding:0 1em;">
<% if @device.blank? %>
Unable to retrieve data.
<% else %>
<h4 style="background-color: rgb(40,255,40)">Primary Path: <%= @device.primary_path %></h4>
  <table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Location</th>
	</tr>
  <% if @device.same_path.length == 0 %>
  	<tr>
  		<td colspan="100">No additional paths for this device</td>
  	</tr>
  <% end %>
  <% @device.same_path.each do |p| %>
    <tr>
      <td><a href="/devices/<%= p.asset_guid %>"><%= p.logical_name %></a></td>
      <td><%= p.type %></td>
      <td><%= p.location %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>