<h3>Active Zenoss Alerts</h3>
<div>
<% if @device.blank? %>
Unable to retrieve data.
<% else %>
  <table>
    <thead>
      <tr>
        <th>Severity</th><th>Name</th><th>Count</th><th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.severity %></td>
        <td><%= e.summary %></td>
        <td><%= e.count %></td>
        <td><%= Time.at(e.last_time).to_datetime.strftime("%m/%d/%Y %I:%M%p EST") %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr><td colspan="100"></td></tr>
    </tfoot>
  </table>
<% end %>
</div>