<div class="box">
    <header>
        <h3>Quick Links</h3>
    </header>
    <div class="content">
        <ul class="links-list">
            <li>
                <a class="devices-link" href="/devices">Devices</a>
            </li>
            <li>
                <a class="events-link" href="/events">Events</a>
            </li>
            <li>
               <a class="reports-link"  href="/ui/index.html#/reports">Reports</a>
           </li>
           <li>
            <a class="dns-link {{dns_link}}"  href="/ui/index.html#/dns">DNS</a>
        </li>
        <li>
            <a class="user-guide-link"  href={{user_guide_link}}>User Guide</a>
        </li>
    </ul>
</div>
</div>
