<div class="column column25">
    <a class="link-incident" href="{{sn_URL}}/saml_redirector.do?sysparm_uri=com.glideapp.servicecatalog_cat_item_view.do%3Fsysparm_id%3D9f5fabb421c40600ca9ff1498de38f97" target="_blank" title="Report a problem or outage in your environment">
        + Incident
    </a>
</div>
<div class="column column25">
    <a class="link-change" href="{{sn_URL}}/saml_redirector.do?sysparm_uri=com.glideapp.servicecatalog_cat_item_view.do%3Fsysparm_id%3D246833b821c40600ca9ff1498de38ffb" target="_blank" title="Submit a request for the addition, modification or removal of something in your environment">
        + Change
    </a>
</div>
<div class="column column25">
    <a class="link-request" href="{{sn_URL}}/saml_redirector.do?sysparm_uri=com.glideapp.servicecatalog_cat_item_view.do%3Fsysparm_id%3D66e809c7217bf100ca9ff1498de38f08" target="_blank" title="Get assistance with your environment, ask a question or submit an enhancement feature">
        + Request
    </a>
</div>
<div class="column column25 last-column">
    <a class="link-site-access {{grant_access}}" href="{{sn_URL}}/saml_redirector.do?sysparm_uri=sg/u_lilo_reservations.do" target="_blank" title="Schedule a visit to your hosting facility">
        Secure Site Access
    </a>
</div>
