<div class="chart-container">
	<p>Total Incidents</p>
	<div class="inner">
		<div id="ticket-stats-chart"></div>
		<p>
			<span class="total"></span>
			<span class="text"></span>
		</p>
	</div>
</div>
<div class="left">
	<p>
		<span></span>
		<span class="blue">ACTIVE</span>
		<span class="green">CLOSED</span>
		<span class="grey">TOTAL</span>
	</p>
	<ul class="radio-list">
	</ul>
</div>
</div>