<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('sungard').start();
  })

<% end %>
<table class="grid">   
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Company Guid</th>
      <th>Zenoss Instance</th>
      <th>Force Prefetch</th>
      <th>Backup File Pattern</th>
      <th class="no_sort no_search"></th>
    </tr>
  </thead>
  <tbody id="apply_click">
  <% if @companies.empty? %>
      <tr><td colspan="7">No Data</td></tr>
  <% else %>
    <% @companies.each do |company| %>
        <tr id="<%= company.id%>">
          <td><%= link_to company.name, edit_sungard_ehealth_company_path(company) %></td>
          <td><%= company.company_guid %></td>
          <td><%= company.zenoss_instance %></td>
          <td><%= company.force_prefetch %></td>
          <td><%= company.backup_file_pattern %></td>
           <td class="delete" style="width: 1%;"><%= button_to '&times;'.html_safe, sungard_ehealth_company_path(company), :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to remove the \"ehealth\" feature from this company?')"} %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
