<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<div class="dialog_form">
<div id="admin_form">  
<%= form_for [:sungard, @company] do |f| %>
<table>
  <tr>
  </td>
  <% if flash[:notice] %>
      <div class="error_messages"><p><%= flash[:notice] %></p></div>
  <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name, :disabled => true %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :company_guid %>
      <%= f.text_field :company_guid, :disabled => true %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :zenoss_instance %>
      <%= f.text_field :zenoss_instance, :disabled => true %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :backup_file_pattern %>
      <%= f.text_field :backup_file_pattern, :disabled => true %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :force_prefetch %>
      <%= f.text_field :force_prefetch, :disabled => true%>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Edit', edit_sungard_ehealth_company_path(@company) %> |
      <%= link_to 'Back', sungard_ehealth_companies_path %>
    </td>
  </tr>
</table>
<% end %>
</div>
</div>
