<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Devices</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Devices displays a complete list of devices for your environment.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
    <p>
      From the list view, you can Sort, Search and Limit the devices.</br>
      Sort: Click on any arrow in the column header to sort by the column contents in
      ascending or descending order.</br>
      Search: Using the textbox enter text to search through the list of devices. </br>
      The search will return matches across any of the visible data in the list.</br>
      Limit: Increase or decrease the number of devices in your list using the
      Show Entries dropdown. 25, 50, 100, 200, or all are the count options.</br>
    </p>
  </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
    <p>
      By clicking on any device you can view its Device Profile, providing a consolidated
      view of details regarding an asset to assess its health. You can easily drill
      down from the dashboard to get more details on:
    </p>
    <ul style="padding-left: 20px;">
      <li style="list-style-type: disc">Incidents</li>
      <li style="list-style-type: disc">Changes</li>
      <li style="list-style-type: disc">Maintenance Windows</li>
      <li style="list-style-type: disc">Thresholds</li>
      <li style="list-style-type: disc">Components</li>
      <li style="list-style-type: disc">Graphs</li>
    </ul> 
    </div>
  </div>
</div>
