<div class="row">
  <div class="about-popover-module">
  <div class="about-section-header"><span>DNS</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p> View the DNS zones assigned to your company and DNS zone related information. You can add a new record to an existing DNS zone or request for a new DNS zone entry. </p>
      <p>DNS page authorizes users based on one of the following roles:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc"><i>DNS REPORTER</i>: Provides read-only access to DNS zones.
        <p><i>-or-</i></p>
        <li style="list-style-type: disc"><i>DNS ENGINEER</i>: Provides full management rights to make and/or request changes to your DNS zones.
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View Zones</b>
      <p>All zones assigned to your company are displayed in the <b>Zone List</b> widget. Additionally: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc">Use the search field to search for a zone. 
        <li style="list-style-type: disc">Scroll through the list to select a zone.
        <li style="list-style-type: disc">Interpret the color code on the zones as follows:
          <ul style="padding-left: 15px;">
            <li style="list-style-type: disc">Any zone with a white/grey background implies that you can manage the DNS zone from the Sungard's Managed Services portal.
            <li style="list-style-type: disc">Any zone in red color indicates that the zone has been disabled and will be permanently deleted after 60 days of the original date of the request. To enable a zone, please contact the Customer Service Representative assigned to your account.
            <li style="list-style-type: disc">Any zone in orange color are slave zones. 
          </ul>
      </ul>
      <br>
      <p>Click a zone to display the zone data, including the associated resource records. It is important to note that if a field is not displayed or not available on the UI, the said field is not applicable for the associated record type.</p>
      <br>
      <p>The <b>Zone Detail</b> widget displays the following attributes for each zone record: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc"><b>NS GROUP.</b> The Name Server (NS) group containing the NS records for the zone 
        <li style="list-style-type: disc"><b>FQDN.</b> The fully qualified domain name for the DNS zone 
        <li style="list-style-type: disc"><b>TTL.</b> The default time to live duration for the records in the zone that have not been overridden
        <li style="list-style-type: disc"><b>EXPIRE.</b> The remaining time duration for the DNZ zone to expire
        <li style="list-style-type: disc"><b>REFRESH.</b> The DNS zone refresh internal
        <li style="list-style-type: disc"><b>DNS MINIMUM.</b> The minimum value to be configured for the TTL
        <li style="list-style-type: disc"><b>RETRY.</b> The communication with a DNS zone is reestablished after this duration, in the event of a communication failure
        <li style="list-style-type: disc"><b>SERIAL NUMBER.</b> The serial number of the DNS zone
      </ul>
      <br>
      <p>The <b>Non NS Records</b> widget displays the following attributes for a DNS zone: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc"><b>Type.</b> Available record types include a, aaaa, cname, ptr, naptr, mx, srv, txt 
        <li style="list-style-type: disc"><b>Record.</b> The name of the record associated with the non-name server group 
        <li style="list-style-type: disc"><b>Data.</b> Mapped to value 
        <li style="list-style-type: disc"><b>TTL.</b> Time To Live value 
        <li style="list-style-type: disc"><b>Priority.</b> The priority of the target non-ns record 
        <li style="list-style-type: disc"><b>Weight.</b> A relative weight for records with the same priority for non-ns records 
        <li style="list-style-type: disc"><b>Port.</b> The TCP or UDP port for non-ns records 
      </ul>
      <br>
      <p>The <b>NS Records</b> widget displays the following attributes for a DNS zone: </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc"><b>Type.</b> Available record types include ns 
        <li style="list-style-type: disc"><b>Host.</b> The domain name for which the record is valid 
        <li style="list-style-type: disc"><b>Data.</b> Mapped to value 
      </ul>
      <p>By default, the records are displayed in order of record type.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Add Records to an existing zone</b>
      <p>To add a new record to a DNS zone:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click <b>Add Zone Record</b> to open the form.</li>
        <li style="list-style-type: decimal">Mention the record type <b>a, aaaa, cname, ptr, naptr, mx, srv,</b> or <b>txt</b> in the drop-down list.
        </li>
        <br>

        <table style="width:100%;">
        <tbody >
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>Record Type</b></td>
            <td style="border: 1px solid; padding: 5px;"><b>Description</b></td> 
          </tr>  
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>a</b></td>
            <td style="border: 1px solid; padding: 5px;">Address mapping record
            <p>The <i>a</i> record specifies an IP address (IPv4) for the given host. Record <i>a</i> is used to convert domain names to corresponding IP addresses.</p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>aaaa</b></td>
            <td style="border: 1px solid; padding: 5px;">IP Version 6 address record
            <p>The <i>aaaa</i> record (also known as quad-A record) specifies an IPv6 address for a given host. It works the same way as an <i>a</i> record, but the difference is the type of IP address.</p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>cname</b></td>
            <td style="border: 1px solid; padding: 5px;">Canonical Name record
            <p>The <i>cname</i> record is used for creating an alias of a domain name. In other words, using <i>cname</i> record you can alias your domain to an external domain.</p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>ptr</b></td>
            <td style="border: 1px solid; padding: 5px;">Reverse-lookup pointer record
            <p>As opposed to forward DNS resolution (<i>a</i> and <i>aaaa</i> DNS records), the <i>ptr</i> record is used to look up domain names based on an IP address.</p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>naptr</b></td>
            <td style="border: 1px solid; padding: 5px;">Name authority pointer record
            <p>The <i>naptr</i> resource record is available in the Domain Name System of the Internet. The <i>naptr</i> records are most commonly used for applications in Internet telephony. (For example, naptr record is used in the mapping of servers and user addresses on the lines of the Session Initiation Protocol (SIP).)</p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>mx</b></td>
            <td style="border: 1px solid; padding: 5px;">Mail exchanger record
            <p>The <i>mx</i> resource record specifies a mail exchange server for a DNS domain name. The information is used by Simple Mail Transfer Protocol (SMTP) for routing emails to proper hosts. </p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>srv</b></td>
            <td style="border: 1px solid; padding: 5px;">Service record
            <p>The <i>srv</i> record is a specification of data in the Domain Name System defining the location, that is, the hostname and the port number of servers for specified services. </p>
            </td> 
          </tr>
          <tr>
            <td style="border: 1px solid; padding: 5px;"><b>txt</b></td>
            <td style="border: 1px solid; padding: 5px;">Text records
            <p>The <i>txt</i> record can hold arbitrary non-formatted text string. Typically, the record is used by Sender Policy Framework (SPF) to prevent the circulation of fake emails. </p>
            </td> 
          </tr>
          </tbody>
        </table>
        <br>
        <li style="list-style-type: decimal">Type the <b>name</b> for the new zone record.</li>
        <li style="list-style-type: decimal">Enter the <b>ipv4addr</b>, that is, the IPv4 address for <i>a</i> or <i>ptr</i> record type.</li>
        <li style="list-style-type: decimal">Enter the <b>ipv6addr</b>, that is, the IPv4 address for <i>aaaa</i> or <i>ptr</i> record type.</li>
        <li style="list-style-type: decimal">Enter the <b>text</b> associated with the zone record for <i>txt</i> record type.</li>
        <li style="list-style-type: decimal">Enter an alias <b>canonical</b> domain record name for <i>cname</i> record type.</li>
        <li style="list-style-type: decimal">Enter the <b>preference</b> (that is, Priority) and <b>mail_exchanger</b> credential for the <i>mx</i> record type to entrust the mail server responsibility for accepting email messages on behalf of a domain.</li>
        <li style="list-style-type: decimal">Enter the <b>order</b> (that is, Weight), <b>preference</b> (that is, Priority), and <b>replacement</b> (that is, Data) for the <i>naptr</i> record type.</li>
        <li style="list-style-type: decimal">Enter the <b>port</b>, <b>priority</b>, <b>weight</b>, and <b>target</b> for the <i>srv</i> record type.</li>
        <li style="list-style-type: decimal">Mention whether the record can <b>override ttl</b> for all record types.</li>
        <li style="list-style-type: decimal">Enter the <b>ttl</b> duration for the zone record for all record types.</li>
        <li style="list-style-type: decimal">Click <b>Submit.</b> Records, which are added successfully, are displayed in the records list.</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Edit or Delete a non-ns zone record</b>
      <p>To request changes or to delete an existing non-ns zone record, click <b>Edit</b> or <b>Delete</b> alongside the record in <b>Non NS Records</b> widget. Enter the relevant information by referring to the Add Zone Record section and click <b>Submit</b>.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Zone Request</b>
      <p>To request for a new DNS zone entry:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">Click <b>Zone Request</b> to open the <b>Zone Request Form.</b></li>
        <li style="list-style-type: decimal">Select <b>Master</b> or <b>Slave</b> as the <b>Zone Type.</b>
        </li>
        <li style="list-style-type: decimal">Provide any <b>Notes</b> about the zone setup if necessary.</li>
        <li style="list-style-type: decimal">Click <b>Submit.</b></li>
      </ul>
  </div>
</div>

