<div class="row">
  <div class="about-popover-module">
  <div class="about-section-header"><span>DNS AUDIT Logs</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p> View the DNS audit log information on this page or you can export the DNS audit logs to your computer in .csv format. If a DNS zone is requested or a DNS record is added, edited, or deleted; the logs are displayed on this page. </p>
      <p>You must be authorized to use the DNS Audit Logs page. Users must have the DNS Customer Reporter or DNS Customer Engineer role to access this page. The link will not appear for unauthorized users. </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View DNS audit logs</b>
      <p>The DNS Audit Logs list displays the <b>Date</b>, <b>User</b> email, <b>Action</b> applied, affected <b>Record Type</b>, affected <b>Record</b>, affected <b>Zone</b>, and <b>Company</b> name.</p>
      <p>At the header of the list, you can:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc">Display the log entries for a specified date range. 
        <li style="list-style-type: disc">Filter the entries by action (<b>create</b>, <b>delete</b>, <b>post</b>, <b>put</b>, or <b>ALL</b>) 
        <li style="list-style-type: disc">Search entries for specific users, records, zones, and by company 
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Download DNS audit data</b>
      <p>To download the DNS audit data, click the download icon on the upper right side of the screen. This generates a comma-separated (CSV) file and displays a dialog box to open or save the exported file.</p>
  </div>
</div>

