<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Events</span></div>
    <div class="about-section-item about-section-bottom-line">
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>Viewpoint provides information about monitoring events and incidents, should they arise.
      The monitoring interface shows all current, non-suppressed monitoring events. You can
      search and filter on current and historical events. Events in Viewpoint corresponds to the
      event view visible to Data Center Operations, i.e. all alarms relating to any of the
      customer’s devices can be seen; this includes the device affected, severity,
      time the event occurred and any incident tickets created as a result.</p>
    </div>
  </div>
</div>
