<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Firewalls</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Viewpoint provides an interface that enables you to view and download your firewall
      logs occurring during the last 48 hours. This functionality can only be accessed by
      RSA Token and relevant permission. From “environment” select Firewalls.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <p>In Firewall Logs you are able to:</p>
      <ul>
        <li>Search for keywords in logs up to a maximum the last 48 hours.
        <li>Specify the time period to view logs, up to a maximum of 48 hours.
        <li>Review and export up to 100,000 logs per 48 hour time period.
      </ul>
    </div>
  </div>
</div>
