
<div class="row">
  <div class="about-popover-module">
  <div class="about-section-header"><span>IPv4</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p> View the list of IPv4 subnets and associated information on this page or you can export the IPv4 subnet related information to your computer in .csv format. You can also search or sort in the available columns to locate relevant information.  </p>
      <p>You must be authorized to use the IPv4 page. Users must have the DNS Customer Reporter or DNS Customer Engineer role to access this page. The link will not appear for unauthorized users.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>View IPv4 subnet information</b>
      <br>
      <p>The IPv4 page displays the <b>Site Name</b>, <b>Subnet Start Ip</b>, <b>Subnet End Ip</b>, <b>Subnet Name</b>, and <b>Subnet Address.</b></p>
      <p>At the header of the list, you can:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc">Search IPv4 subnet entries associated with your site.   
        <li style="list-style-type: disc">Press the arrows for an ascending or a descending sort.
      </ul>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b>Download IPv4 Subnet data</b>
      <p>To download the IPv4 subnet data, click the download icon on the upper right side of the screen. This generates a comma-separated (CSV) file and displays a dialog box to open or save the exported file.</p>
  </div>
</div>

<!-- 
<div>
    <h4>Environment — IPv4</h4>
    <p class="bottomLine">
        A Managed Services tool that displays a list of all IPv4 subnets and allows users to filter, sort, and download data.
    </p>

</div>
<div class="interfaces-info-content">

    <h4>Subheader Bar</h4>
    <img class="ipv4-subheader-info"/>

    <h4>Table Filtering</h4>
    <h5>Sorting Arrows</h5>
     <p>
        <span class="bold-item">Press the arrows </span> for an ascending or descending sort.
        <span class="bold-item">Refreshing the browser</span> will reset the page sort.
    </p>

    <h5>Search Input</h5>
    <p>Press the search field and begin typing.
        Each character typed filters the data displayed. Press
        the <span class="clear-x">x</span> to
        <span class="bold-item">'Clear Search'</span>.
    </p>
    <img class = "interfaces-search-info"/>

</div> -->