<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Subscription</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Subscriptions table only displays the subscription details of the reports you have subscribed. The <b>Subscriptions</b> table can display the following information:
      </p>
       <ul style="padding-left: 15px;">
        <li style="list-style-type: disc">Name of the custom report
        <li style="list-style-type: disc">Email ID of the recipient of the report
        <li style="list-style-type: disc">Time to deliver the report
        <li style="list-style-type: disc">Name of the device
        <li style="list-style-type: disc">Name of the group
        <li style="list-style-type: disc">Frequency of generating and delivering the report
      </ul>
      <p>To delete any existing subscription, click <span style="color: red;">X</span> corresponding to the report name, and confirm your deletion.</p>
    </div>
  </div>
</div>

