<!-- put this below code inside the <div class="content"> </div> container -->

<div>
    <h4>Environment — Devices</h4>
    <p class="bottomLine">
        A Managed Services tool that retrieves device data from several systems,
        including Sungard AS’s CMDB and monitoring system. It also displays monitored
        assets in a customer’s infrastructure such as servers, network devices,
        storage, IPDUs, and network interfaces (RDs).
    </p>

</div>
<div class="devices-info-content">

    <h4>Subheader Bar</h4>
    <img class = "devices-subheader-info"></img>

    <!-- <h4>Table</h4>

    <h5>Column Naming</h5>
    <ul class="status-list">
        <li>
            <p>
                <span>Action</span>
                Displays the ability to sort by: ALL, Command Runner; and/or Down state,
                (if applicable).
            </p>
        </li>
        <li>
            <p>
                <span>Device Name</span>
                Displays the customers device pre-sorted alphabetically.
            </p>
        </li>
        <li>
            <p>
                <span>SNMP SYS NAME</span>
                Displays ...
            </p>
        </li>
        <li>
            <p>
                <span>IP Address</span>
                Displays the device IP address information.
            </p>
        </li>
        <li>
            <p>
                <span>HW Model</span>
                Displays the device hardware model.
            </p>
        </li>
        <li>
            <p>
                <span>Location</span>
                Displays the device location code.
            </p>
        </li>
        <li>
            <p>
                <span>OS Model</span>
                Displays device OS model.
            </p>
        </li>
        <li>
            <p>
                <span>Priority</span>
                Displays the device priority state as:Managed or Non-Managed.
            </p>
        </li>
        <li>
            <p>
                <span>Company</span>
                Displays the device production state as:Decommissioned, Inactive,
                Installed-Active, Installed-PreProd, Maintenance, Not in SVC,
                Pending Disco, Pending Impl, Pending Transfer, Repair or Unknown.
            </p>
        </li>
        <li>
            <p>
                <span>Company</span>
                Displays the device company use allocation, (if applicable).
            </p>
        </li>
    </ul>

    <h5>Device UP / DOWN status</h5>
    <p>When a device’s table row is colored red (like below),
        then the device is considered <span class="bold-item" style="color:darkred;">DOWN</span>. All other
        non-colored table rows are considered <span class="bold-item">UP</span>.
    </p>
    <img src="assets/SungardImages/about/devices-UPDOWN-info.png"/> -->

    <h4>Table Filtering</h4>
    <h5>Sorting Arrows</h5>
    <p>The table loads alphabetically sorted by the <span class="bold-item">'Name' </span> column.
      <span class="bold-item">Press the arrows </span> for an ascending or descending sort. 
      <span class="bold-item">Refreshing the browser</span> will reset the page sort.
    </p>

    <h5>Search Input</h5>
    <p>Press the search field and begin typing.
        Each character typed filters the data displayed. Press
        the <span class="clear-x">x</span> to
        <span class="bold-item">'Clear Search'</span>.
    </p>
    <img class = "devices-search-info"></img>

    <h5>Dropdown Filter</h5>
    <p>Press the ALL or <span class="bold-item">'up/down'</span>
        arrows to reveal the dropdown selection popover. Select one or
        more (if checkboxes are present) items.
    </p>

    <p>Press the <span class="clear-x">x</span> to
        <span class="bold-item">'Reset to All'</span>.
    </p>

    <p>The dropdown selection default is<span class="bold-item">'All'</span>.</p>

    <p>Some dropdown text will appear truncated if their column width is narrower than
        the text. <span class="bold-item">'Multiple'</span> text appears if more
        than one checkbox is selected.
    </p>
    <img class = "devices-dropdown-info"></img>
</div>