<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Patching Schedule</span>
    </div>
    <div class="about-section-item about-section-bottom-line">
      <p>You can schedule patching of Linux (Redhat) and Windows servers. The patch policy must be created before scheduling the patch. The patch schedules that you create are listed in the Patching Schedule table.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">        
      <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid; padding-left: 10px;"><b>Policy Name</b></th>
          <th style="border: 1px solid; padding-left: 10px;"><b>Purpose</b></th>
        </tr>        
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat Available all OS patches</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to install all the available OS Patches on the respective RedHat server​s. It is important to note that you can use this policy only if there no specific patch installation requirement.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat Kernel and associated patches</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to install the Kernel associated patches on a RedHat server​.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat Security patches</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to install the OS security patches on a RedHat server​.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat Single OS Patch Level</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to install OS specific patches. However, the prerequisite is to download the OS specific patch at a suitable location on the respective RedHat server.​</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat Specific Package</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to install an exclusive software update/package, which is specifically targeted for a RedHat server.​ You have to schedule this policy as many times you want to install RedHat specific packages, as this is available for one time use only.</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat System excluding Kernel and associated patches</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to exclude Kernel and its associated patches while installing RedHat recommended patches.​</td>
        </tr>
        <tr style="border: 1px solid;">
          <td style="border: 1px solid; padding-left: 10px;">RedHat System excluding specific package</td>
          <td style="border: 1px solid; padding-left: 10px;">Use this policy to exclude the installation of specific updates/packages, which is specifically targeted for a RedHat server.​ You have to schedule this policy as many times you want to exclude the installation of specific updates/packages, as this is available for one time use only.</td>
        </tr>    
      </table>
      
      <p>You can use the Patching Schedule feature to perform the following tasks:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc ">Create a new patch
        <li style="list-style-type: disc ">Add server to the existing patch
        <li style="list-style-type: disc ">Remove servers from the existing patch
        <li style="list-style-type: disc ">Cancel a patch
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
     <div class="about-section-item about-section-bottom-line">
      <b><u>Creating Patch Schedule</u></b>    
      <p>You can schedule patches at two frequencies: One time and monthly. One-time patches are applied only once. In case of monthly patch, the same patch is applied every month.
      </p>
      <p>The <b>+Create New Schedule</b> option enables you to create a new patch. Fill in the following details to create a patch:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: disc ">Name of the schedule
        <li style="list-style-type: disc ">Description of the schedule
        <li style="list-style-type: disc ">Frequency of the schedule: one time or monthly
        <li style="list-style-type: disc ">Select an OS.
        <li style="list-style-type: disc ">(<i>For monthly patch</i>) Select a week and a day to apply the patch.
        <li style="list-style-type: disc ">Based on the OS you have selected, select a patching policy (for RedHat) or patching policy group name (for All Windows OS). <b>Servers to Patch</b> button is displayed next to the <b>Save</b> button.
        <li style="list-style-type: disc ">The start and end date and time of the maintenance window.
        <li style="list-style-type: disc ">Special instructions, if any.
        <li style="list-style-type: disc ">Add servers to patch.
        <p>Save the details. The patch is created and listed in the Patching Schedule table. You can navigate to <b>Automated Patching > Servers</b> to view the servers that are included in the patch</p>
        <p><u>Adding server to patch</u>
        </p>
        <p>While adding servers to patch, note that servers which are in scope of schedule shouldn’t be part of any other active schedules.</p>
          <ul style="padding-left: 15px;">
            <li style="list-style-type: decimal">Click <b>Servers to Patch</b>.
            <li style="list-style-type: decimal">On the Servers to Patch window, select check box of the servers you want to patch.
            <li style="list-style-type: decimal">Select <b>AUTO</b> or <b>MANUAL</b> reboot option.
            <li style="list-style-type: decimal">Enter the install order in numbers. If the install order is zero, the <b>Manual Approval</b> and <b>Group Number</b> options remain inactive.
            <li style="list-style-type: decimal">Select the check box in the <b>Manual Approval</b> column if the schedule needs manual approval.
            <li style="list-style-type: decimal">Enter the group number of the server.
            <li style="list-style-type: decimal">Save the details.
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Adding servers to the existing patch</u></b>    
      <p>You can add servers to the existing patch 72 hours prior to the start of the maintenance window. You cannot add servers if a change ticket is already created for the patching schedule.
      </p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal ">On the Patching Schedule table, click <b>Update</b> for the patch schedule to which you want to add servers. Patching Schedule dialog box is displayed. You can change the Schedule name, if needed.
        <li style="list-style-type: decimal ">Click <b>Add Servers to Patch</b> and select the servers to add to the existing patch.
        <li style="list-style-type: decimal ">Specify the following details:
          <ul style="padding-left: 25px;">
          <li style="list-style-type: disc">Reboot option</li>
          <li style="list-style-type: disc">Install order</li>
          <li style="list-style-type: disc">Manual approval if needed</li>
          <li style="list-style-type: disc">Group number</li>  
        </ul> 
        <li style="list-style-type: decimal ">Click <b>Save</b> and then click <b>Update</b> to update the patching schedule.
    </div> 
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Removing servers from patch schedule</u></b>    
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal ">On the Patching Schedule table, click <b>Update</b> for the patch from which you want to remove servers.
        <li style="list-style-type: decimal ">Click <b>Update Servers to Patch</b>. Clear the check boxes for the servers you want to remove from the existing patch.
        <li style="list-style-type: decimal ">Click <b>Save</b> and then click <b>Update</b> to update the patching schedule.
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      <b><u>Cancelling Patch Schedule</u></b>    
      <p>You can cancel a patch that is scheduled for maintenance. You can cancel a patch only if the servers associated with that patch are not part of any active schedules.</p>
      <p>You can cancel a patch up to 30 minutes prior to the start of the schedule. For example, if the patch is scheduled at 4.00 pm, you can cancel the patch up to 3.30 pm.</p>
      <p>In the <b>Patching Schedule</b> table, click <b>Delete</b> for the patch you want to delete, and confirm your deletion.</p>
      <p>Note that the <b>Delete</b> button is not available for the patch 30 minutes prior to the start of the schedule.</p>
    </div> 
  </div>
</div>