<div class="row">
  <div class="about-popover-module">
    <div class="about-section-header"><span>Reports</span></div>
    <div class="about-section-item about-section-bottom-line">
      <p>Use Reports to view various performance metrics for Sungard AS managed assets,
      generate reports on demand or schedule reports for delivery via email.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item about-section-bottom-line">
      You can generate for the following:
      <ul>
      <li>Device detail
      <li>Power bar
      <li>Network usage
      <li>Raw polled performance data
      </ul>
      <p>You can also access static reports for Usage & Billing and eHealth. Click the down
      arrow to expand the list of report categories and select the desired report.</p>
      <p>Usage &amp; Billing: Download these monthly reports to view internet usage data for billing</p>
      <p>eHealth Reports: If you previously used eHealth for reporting, you can access
      any of your generated reports in CSV or PDF format.</p>
    </div>
  </div>
</div>
