<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item">
      <b>Create a report subscription</b>
      <p>With a report subscription, you can have a report generated on a periodic basis and emailed to you.</p>
      <p>To subscribe to a report, use the process to create a custom report:</p>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">At the tool selector, select Subscriptions > Reports. <i>[This navigation is based on how the tool selector appears at the subscriptions page.]</i>.</li>
        <li style="list-style-type: decimal">Click <b>custom report</b>.</li>
        <p>A popover for scheduling the report appears.</p>
        <li style="list-style-type: decimal">At the <b>Reports </b> drop-down list, select the type of report.</li>
        <li style="list-style-type: decimal">Select <b>Group</b> or <b>Device</b></li>
        <li style="list-style-type: decimal">Use the calendar to specify the <b>Start Date</b> and </b>End Date.</b> </li>
        <li style="list-style-type: decimal">To <b>Schedule this for periodic delivery</b>, check the corresponding box. The system displays additional fields:</li>
        <ul style="padding-left: 25px;">
          <li style="list-style-type: disc">Select the <b>Frequency</b>.</li>
          <li style="list-style-type: disc">Select the <b>Time </b> (a specific delivery time).</li>
          <li style="list-style-type: disc">Select the <b>Time Zone</b> you want the report generated.</li>
          <li style="list-style-type: disc">Specify the <b>Email</b> to which the report will be delivered.</li>  
        </ul> 
        <li style="list-style-type: decimal">Click <b>Submit</b></li>
        </ul>
        <p>Any report you schedule for email delivery will be listed under the subscriptions page, where you can:</p>
        <ul style="padding-left: 15px;">
          <li style="list-style-type: disc">Manage your schedule frequency.</li>
          <li style="list-style-type: disc">Delete subscriptions.</li>
        </ul>        
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item">
      <b>Remove a report subscription</b>
      <p>At the list of subscriptions, click the delete icon of a report.</p>
  </div>
</div>

<div class="row">
  <div class="about-popover-module">
    <div class="about-section-item">
      <b>Edit a report subscription</b>
      <ul style="padding-left: 15px;">
        <li style="list-style-type: decimal">At the subscriptions page, click the corresponding report at the <b>Report</b> column. This displays the page where you can change the subscription settings.</li>
        <li style="list-style-type: decimal">Specify the <b>Frequency, Time, Time Zone</b>, and designated <b>Email  </b>.</li>
        <li style="list-style-type: decimal">Click <b>Submit</b>.</li>
      </ul>
    </div>
  </div>    

