<table class="grid">
<tr>
    <td class="header_form">
      <%= form_tag company_masquerades_path, :method => 'get', :class => 'submit-button' do %>
          <%= text_field_tag 'search',params[:search] || '', :placeholder =>'search companies', :class => 'apply_focus' %> 
          <%= submit_button 'search' %>
      <% end %>
    </td>
  </tr>
</table>
<table class="grid">
  <thead>  
    <tr>
      <th>Company Name</th>      
    </tr>
  </thead>  
  <tbody>
  <% if @companies.empty? %>
    <tr><td>No Data</td></tr>
  <% else %>
    <% @companies.each do |d| %>
      <tr>
        <td><%= link_to d.name , :controller => "company_masquerades", :action => "new", :id => d[:guid]%></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>