<table class="grid">
  <thead>
  <tr>
    <th>Users</th>
 </tr>
  </thead>
  <tbody>
  <% @users.each do |d| %>
      <tr>
        <td><%=  link_to d.email, :controller => "company_masquerades", :action => "new", :id => d.id %></td>
      </tr>
  <% end %>
</tbody>
</table>
