<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
    app.module('reports').start({bus_process:"<%= APP_CONFIG['bus_report_process'] %>"});
  })

<% end %>

<div class="inline_form">
  <%= render 'reports/form' %>
</div>
<div id='loading'></div>