<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('dashboards').start();
  })
<% end %>

<table id="reqs" class="grid">
  <thead>  
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>default</th>    
    <th></th>    
  </tr>
  </thead>
  <tbody>
	<% @dashboards.each do |dashboard| %>
	  <tr>
	    <td><%= link_to "<i>#{dashboard.name}</i>".html_safe, edit_dashboard_path(dashboard) %></td>
	    <td><%= truncate dashboard.description, :length => 60 %></td>
	    <td><%= dashboard.default %></td>    
      <td style="width: 1%;"><%= button_to '&times;'.html_safe, dashboard, :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure?')"} %></td>
	  </tr>
    <% end %>
  </tbody>
</table>
