<% content_for :requirejs do %>
  require(['viewpoint/dashboards_page'], function(vp_dashboards_page){
    vp_dashboards_page.init()
  })
<% end %>

<div id="dashboard">
<% @graphs=@dashboard.load_graphs(params[:sort]) %>

<input type="hidden" name="graph_count" value="<%= @graphs.length %>" />

<% if @graphs.empty? %>
  <ul>      
      <li><%= render 'graphs/graph', :graph => nil, :dashboard => @dashboard %></li>
  <% if @dashboard_count <= 1 %>
      <li class="intro">
        <div>
          <p>Simple and Secure access to your <%=t 'global_org.name'%> managed environment.</p>
          <ul>
            <li><b>Deep analytic view</b> into your devices including Network, Servers, and Storage Area Network.</li>
            <li>Real-time and historical <b>event viewer</b> of device activity.</li>
            <li><b>Performance Data</b> views including real-time and historical data.</li>
            <li><b>Customizable Dashboard</b> for individual users to build a view of selectable widgets.</li>
          </ul>
          <br />Click either icon to the left or "+ add graph" button on the right of the tool bar above.
        </div>
      </li>
  <% end %>
  </ul>
<% else %>
  <ul>
    <% @graphs.each do |graph|%>
      <li><%= render 'graphs/graph', :graph => graph, :dashboard => @dashboard %></li>
    <% end %>
      <% # Add new graph icon %>
      <li><%= render 'graphs/graph', :graph => nil, :dashboard => @dashboard %></li>
  </ul>
<% end %>
</div>
<%= render :partial => "graphs/form", :locals=> {:dash_id => @dashboard.id.to_s} %>
