<div class="group_name">
	<label>Group Name: </label>
  {{#if id}} 
    <input type="text" name="name" value="{{name}}" placeholder="Group Name">
  {{else}} 
    <input type="text" name="name" value="" placeholder="Group Name">
  {{/if}}
</div>

<div class="group_list">
	<ul class="added_to_group">
		
  </ul>

	<div class="group_save">
		<div>
             <span class="group_count"></span>
		  <input type="radio" name="action" value="save" checked="checked"> save group
		  {{#if id}} 
		  <input type="radio" name="action" value="save_as"> save group as...
		  {{/if}}
		  <input type="button" name="button" value="save" class="processing"></button>
		</div>
	</div>
</div><!-- /group list -->