<td><a href="#groups/{{id}}/edit">{{name}}</a></td>
<td style="text-align: left;">{{asset_count}}</td>
<td style="text-align: left;">{{assets_snap}}</td>
<td class='delete'><a href='#groups' title='Delete' class="deleteBtn">&times;</a></td>