<table class="grid" style="table-layout: fixed;">
  <thead>
    <tr id="sort" class="label-row">
      <th data-sortby="name" class="text sort sort-height">Name<div class="arrows"></div></th>
      <th>Total Assets</th>
      <th></th>
      <th></th>
    </tr>
    <tr class="filter-row">
        <th>
          <div>
            <input class="text_search_filter" type="text" name="group_name" autocomplete="off"/>
            <span></span>
          </div>
        </th>
        <th colspan="3">&nbsp;</th>
    </tr>
  </thead>
  <tr class="col_sizing">
      <td><div style="width: 200px;"></div></td>
      <td><div style="width: 50px;"></div></td>
      <td><div style="width: 50px;"></div></td>
      <td><div style="width: 50px;"></div></td>
  </tr>
</table>
<div class="ns_scroll" style="top: 67px;">
  <table id="group_index" class="grid" style="table-layout: fixed;">
    <tr class="col_sizing">
        <td><div style="width: 200px;"></div></td>
        <td><div style="width: 50px;"></div></td>
        <td><div style="width: 50px;"></div></td>
        <td><div style="width: 50px;"></div></td>
    </tr>
    <tbody id="group_results">
    </tbody>
  </table>
</div>
