<td class="check"><div class="sync_width"><input type="checkbox" name="device" value={{id}}></div></td>
<td><div>{{name}}</div></td>
<td><div>{{type}}</div></td>
<td><div>{{ip_address_formatted}}</div></td>
<td><div>{{location}}</div></td>
