<h2 class="button" id="app_admin">
    <div class="expand"><%= yield (:tools_name) %>
        <ul>
            <li><%= link_to 'User Management', sungard_root_path %></li>
            <% if (current_user.is_sungard_admin?) || (current_user.is_viewpoint_admin?)%>
              <li><%= link_to 'Company Management', sungard_companies_path %></li> 
              <% if !APP_CONFIG['vp_cauldron'] %>
                <li><%= link_to 'Compliance Network Management', sungard_compliance_index_path %></li> 
                <li><%= link_to 'Compliance Compute Management', sungard_compliance_compute_index_path %></li> 
              <% end %>  
            <% end %>  
            <% if (current_user.is_viewpoint_admin?) %>
              <li><%= link_to 'Roles', sungard_roles_path %></li> 
              <li><%= link_to 'Help Management', sungard_helps_path %></li> 
              <li><%= link_to 'Menu Management', sungard_menus_path %></li>  
              <li><%= link_to 'Health', sungard_status_path %></li> 
            <% end %>              
        </ul>
    </div>
</h2>