<div>
	<table class="en_details">
		<tr>
			<td>
				<b>Name</b>
				<%= @event_subscription.name %>
			</td>
			<td>
				<b>All Assets</b>
				<%= @event_subscription.all_asset? %>
			</td>
			<td>
				<b>Severity</b>
				<%= @event_subscription.severity %>
			</td>
			<td>
				<b>Active</b>
				<%= @event_subscription.active? %>
			</td>
		</tr>
	</table>
	<%= event_table_for_assets(@event_subscription) %>
</div>
