<h2>events: notifications</h2>
<% unless current_user.is_sungard? %>
	<% if @event_subscription %>
		<% if params[:company_guid].blank? %>
			<%= link_to 'back', event_subscriptions_path, :class => 'button' %>
		<% else %>
			<%= link_to 'back', event_subscriptions_path(:company_guid => params[:company_guid]), :class => 'button' %>
		<% end %>
	<% else %>
		<% if params[:company_guid].blank? %>
			<%= link_to 'add event notification', new_event_subscription_path, :class => 'add button' %>
		<% else %>
			<a class="button" onclick="window.history.back()">back</a>
		<% end %>	
	<% end %>
<% end %>