<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('interfaces').start();
    //Set the selected page as events
    window.C.page = "ms-interfaces";
  })

<% end %>


<table id="devices_list" class="grid">
  <thead>  
  <tr>
    <th>Device</th>
    <th>Interface</th>
    <th>Description</th>
    <th>Internet</th>
    <th>Network name</th>
    <th>Company</th>
    <th style="display:none"><!-- keeping same column length for dataTables --></th>
  </tr>
  </thead>
  <tbody>
  <% @interfaces.each do |i| %>
  <tr>
    <td class="device_name"><%= i.device_name %></td>
    <td class="ip_interface"><%= i.ip_interface %></td>
    <td class="description"><%= i.description %></td>
    <td class="internet"><%= i.internet %></td>
    <td class="network_name"><%= i.network_name %></td>
    <td class="company_use"><%= i.company_use %></td>
    <td class="popup" rel="<%= i.logical_name %>"></td>
  </tr>
<% end %>
</tbody>
</table>
