// chat window
div.chat_head { 
  padding: 1em;
  > div {
    float: right; font-size: 1.1em; color: #bbb;
    }
  h3 { padding-left: 32px; }
  }

#chat_content {
  padding: 1em;
  > div {
    background: rgba(255,255,255,0.5); padding: 4px 100px 4px 4px;
    min-height: 1em; position: relative; margin-bottom: 2px;
    &.aside { color: #aaa; }
    span {
      display: block;
      position: absolute; right: 4px; top: 4px; color: $primary; font-size: 0.9em;
    }
  }
}

#chat_input {
  border-top: 1px rgba(0,0,0,0.2) solid; padding: 4px; position: absolute; height: 60px;
  bottom: 0; right: 0; left: 0; background-color: #fff;
  a { 
    display: block; position: absolute; top: 0; right: 0; bottom: 0; width: 68px;
  }
}