// for dashboard tools
h2#dashboard_select_list {
	> div {
		@extend %down-arrow;
		b {display: block; }
		ul {
			@extend %reset; width: 232px; 
			display: none; position: absolute; top: 43px; background: darken($primary,15%);
			@extend %corner-b; @include shadow(rgba(0,0,0,0.5),0,1em); color: rgb(255,255,255); color: rgba(255,255,255,0.2);
			font-size: 0.8em; left: -25px; font-family: $font; text-transform: capitalize;
			li {
				b {
					display: block; width: auto;
					@extend %reset; padding: 0.6em 1em; border: solid rgba(0,0,0,0.8);
					border-top-color: rgb(255,255,255); border-top-color: rgba(255,255,255,0.3); border-width:  1px 0;
					&:hover { color: rgb(255,255,255); color: rgba(255,255,255,0.8); background-color: #000;}
					&.settings_button {
						border-top-width: 3px; background-color: rgb(200,200,255); background-color: rgba(200,200,255,0.2);
					}
				}
				&:first-child b { border-top: 0;}
				&:last-child b { border-bottom: 0; @extend %corner-b; }
				a {
					float:none; @include shadow(rgba(0,0,0,0.0),0,0); color: #fff;
					padding: 0;
					&:hover { color: #fff; }
				}
			}
		}
	}
	&:hover > div ul { display: block;}
}

.add_dashboard { padding-right: 7px !important;}

body.dashboard .edit_dashboard,
body.dashboard .new_dashboard {
	padding: 1em;
	table {
		border-spacing: 1em;
		td { width: 50%;}
		input {
			@extend %inputs;
			margin:0 !important; 
		}
		.auto_width {
			width: auto;
		}
		select {
			width: 100%;
		}
	}
}

#section #dashboard ul li.intro div {
	padding: 1em 2em 0 3em;
	ul {
		padding-bottom: 0;
	}
	li {
		list-style: disc; padding-left: 0;
	}
}
