%events {
	position: relative; overflow:hidden;
	label { display: block; font-size:12pxa; font-family: $font; font-weight:100;}
	input {
		width:9em; @include corners(1em); border: none; padding: 3px; 
		background-color: #eee; position: relative; 
		&:active, &:focus { background-color: #fff; }
	}
	#first_seen, #last_seen {
		z-index:100; @include corners(1em); border: none; padding: 5px 10px; 
		background-color: #555; position: relative; @extend %shade; color: #fff;
		font-size:11px;
	}
	td, th {white-space: nowrap; padding: 6px;
		> div {position:relative;}
	}
	table {@include shadow(#fff,0,0); @include corners(0); margin:0;}
	> div {
		position: relative;
		b {
			display: block; position: absolute; bottom: 0;
		}
		b.right, b.left {background: url('zigzag.png'); width: 21px; top: 0; z-index:101}
		b.right {right:0;}
		b.left {left: -21px; right: auto; background-position: -21px 0;}
		b.bottom {
			left:0; display: table; background: rgb(50,50,50); background: rgba(50,50,50,0.6); 
			width:100%; padding: 0;
			a { 
				em {
					border: 9px solid transparent; width:0; @include opacity(20);
					display: inline-block; height:0; position: relative; top: 6px;
				}
				&.active {
					cursor: pointer;
					em { @include opacity(95); }
				}
			}
			a:first-child em {border-right-color:#fff;}
			a:last-child em {border-left-color:#fff;}
			a, span {
				display: table-cell; height:25px; width:30%; @include chisel(rgb(100,100,100));
				text-align:center; color: #fff;
			}
		}
		a.active {
			cursor:default;
			em {@include opacity(100);}
		}
	}
	.loading {height: 16px;}
	// datepicker
	div.date_drop_down {
		display:table; position: absolute; top: 100%; left: 0; z-index:100; margin-top:1.3em;
		@include corners(1em); background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8);
		&:before {
			display: block; content: ' '; position: absolute; top: -1.9em; border: 1em solid rgba(0,0,0,0);
			border-bottom-color: rgb(0,0,0); border-bottom-color: rgba(0,0,0,0.8); left: 3.7em;
		}
		// this should adopt calendar styles used in multiple places
		@extend %date_drop_down;
	}
}

body.device td.event_asset_name {
	display: none;
}


#events {
	td.fill {border:none; padding: 0;}
	height: 100%;
	@extend %events;
	> div { }
}

body.events.single-column {
	div#page > div#section {
		padding: 0;
		#events {
			> div { position: static; }
			table.grid {
				@include corners(0);
				thead {
					td, th {
						&:first-child {
							@include corners(0);
						}
					} 
				}
			}
			.loading { padding: 1em; height: 400px; }
		}
	}
}