// forms

// header search forms
div#header form#search {
	width: 64px;
	> div {
		.input-wrapper {
			display: block; 
			span, label {
				display: block;
				padding: 1.5em;
			}
		}
	}
	input::-ms-clear {
    	display: none;
	}
}

#groups_form, #admin_form {
	form {
		display: table; width: 100%; height: 100%;
		> div {
			display: table-row;
			> div {
				padding:1em 1em 0 1em;
			}
		}
		div.en_choices {
			> div {
				> div {
					display: inline-block; width: 40%;
					label {
						display: inline-block;
					}
				}
			}
//			#event_subscription_active { float: left; }
//			#event_subscription_severity { float: right; }
		}
		#table_dest_wrapper { padding-bottom: 0; }
		label { display: block; padding-bottom: 1em; font-weight: 900;}
		input {
			@extend %inputs;
		}
		.red {color:red;}
	}
}

#admin_form {
	padding: 1em;
	table {
		width: 550px;
		label {
			padding: 1em 0 0.2em 0;
		}
		td {
			padding: 0em 0.5em; vertical-align: top; width: 50%;
		}
		td[colspan] { width: auto; }
		input { margin-bottom: 0.3em;}
		input[type='submit'] {
			font-weight: 900; margin:0;
		}
		td.roles {
			div label { font-weight: normal; font-size: 1em; display: inline-block;}
			input { width: auto; margin: 1em;}
		}
	}
	#reset_password {
		width: 550px; background: none !important; padding-top: 0; padding-bottom: 0; 
		@include shadow(#fff,0,0);
		a {
			position: relative; top: -6.5em;
		}
	}
}
#new_user_dropdown #admin_form {
	@include corner(bottom,left,1em); background: rgb(0,0,0); background: rgba(0,0,0,0.8); color:#fff;
	display: none; position:absolute; right: 0; top: 0;
	#reset_password { display: none;}
}

%inputs {
	border: none; @include corners(1em); width: 100%;
	padding: 3px 3px 3px 6px ; margin-bottom: 2em; margin-top: 0;
	&[type='submit'] {
		background: $secondary; color: #fff;
	}
	&[type="checkbox"],&[type="radio"] {
		width: auto;
	}
}

div#page > div#section table td.header_form {
	padding: 1em; 
	background: rgb(0,0,0) !important;
	background: rgba(0,0,0,0.8) !important; 
	border-top-color: rgb(255,255,255); 
	border-top-color: rgba(255,255,255,0.2);
	form { 
		margin: 0; 
		input, button {
			@include corners(1em); padding: 3px 6px; border: none; margin-right: 1em;
		}
		button {
			background: $secondary; color: #fff; padding: 3px 2em;
		}
	}
	> span {
		color: #6C6C6C; position: absolute; right: 1em; top: 1.2em;
	}
}