body.groups.edit > div#page > div#section,
body.groups.new > div#page > div#section
{ 
	padding: 0;
	table, table th, table td {
		@include corners(0);
	}
}

.group > h3 {
	padding: 1em;
	span {
		display: block; font-size: 11px; text-transform: uppercase; 
		color: rgb(0,0,0); color: rgba(0,0,0,0.6); float: none; padding: 0; font-weight: 900;
	}
}

// TOTO: is this needed?
#groups_form {
	display: table; width: 100%;
	.left_list {
		overflow: auto;
		height: 0;
	}
	tr.active td { background: $primary !important; color: #fff; }
	> div { // cells
		display: table-cell; height: 100%; 
		vertical-align: middle;
		&:last-child, &:first-child { vertical-align: top;}
		button {
			border: none; height: 100%; width: 100%; display: none;
			background: rgb(0,0,0); background: rgba(0,0,0,0.1);
			&:before {
				content: ' '; display: inline-block; border-width: 2em; border-color: transparent;
				border-style: solid; width: 0; height: 0; position: relative;
			}
			&#cl_right:before { border-left-color: rgb(255,255,255); border-left-color: rgba(255,255,255,0.8); right: -1em}
			&#cl_left:before { border-right-color: rgb(255,255,255); border-right-color: rgba(255,255,255,0.8); left: -1em }

		}
		> div { // scroll
			height: 100%; overflow: auto;
		}
		> form {
			display: table; width: 100%; height: 100%;
			label { display: block;}
			input {
				border: none; @include corners(1em); width: 100%;
				padding: 3px; margin-bottom: 2em; margin-top: 2em;
				&[type='submit'] {
					background: $secondary; color: #fff;
				}
			}
			> div {
				display: table-row; 
				> div {
					padding: 1em;
				}
				&:first-child, &:last-child {
					height: auto;
				}
				#table_dest_wrapper {
					height: 100%; display: table-cell;
					> div {
						@include corners(1em); overflow: auto; display: none;				
					}
				}
			}
		}
	}
}


table.en_details {
	width: 100%; margin: 1em;
	b {
		text-transform: uppercase; font-size: 0.8em;
		display: block; color: rgb(100,100,100); color: rgba(100,100,100,0.7);
	}
}

.notice{
  color: #B00014; text-align: center;
}

span.spinner_on {
  background: no-repeat url('ajax-loader.gif') 50% 50%;
}
/* used by submit buttons */
span.spinner_on.right {
  background-position: 98% 50%;
  padding: 0px 0px 0px 0px; /* remove inherited padding, already centered */
}

table.grid tr.col_sizing {
	td {
		height: 0; overflow: hidden; padding: 0; border: none; 
	}
}



// new groups

#event_notifications_form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	.left_list, .right_list, .middle_buttons {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: auto;
	}
	.left_list {
		left: 0;
		right: 52%;
		overflow: hidden;
	}
	.right_list {
		left: 52%;
		right: 0;
	}
	.middle_buttons {
		left: 48%;
		right: 48%;
	}

	tr.active td { background: $primary !important; color: #fff; }
	#event_subscription_severity {
		margin-right: 2em;
	}
	button {
		border: none; height: 100%; width: 100%; display: none;
		background: rgb(0,0,0); background: rgba(0,0,0,0.1);
		&:before {
			content: ' '; display: inline-block; border-width: 10px; border-color: transparent;
			border-style: solid; width: 0; height: 0; position: relative;
		}
		&#cl_right:before { border-left-color: rgb(255,255,255); border-left-color: rgba(255,255,255,0.8); right: -5px}
		&#cl_left:before { border-right-color: rgb(255,255,255); border-right-color: rgba(255,255,255,0.8); left: -5px }
	}

	.en_scroll_list {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}
	
	form {
		label {
			display: block;
			font-weight: 900;
		}
		input[type=text], input[type=submit] {
			border: none; 
			@include corners(1em); 
			width: 100%;
			padding: 3px; 
			&[type='submit'] {
				background: $secondary; 
				color: #fff;
			}
		}
		> div {
			padding: 0 1em;
			margin: 2em 0;
		}
	}
	#table_dest_wrapper {
		> div {
			position: relative;
			height: 0;
			overflow: auto;			
		}
	}
	.en_choices label {
		display: inline;
	}
	.en_overlay {
		@extend .overlay;
		@include rule_rgba($r: 232, $g: 235, $b: 232);
	}
}