// target page header
div#page > div#header {
	// target right buttons
	> div.buttons {
		display: table; position: absolute; top: 0; right:0; height: 46px;
		// user buttons
		> * {
			display: table-cell; width: 64px;
			> span { 
				position: relative; display: block; height: 46px;
				// button drop downs
				&:hover ul { display:block }
				> a {
					height: 100%; display: block;
					&:before { @extend %sprites; position: absolute; }
				}
			}			
			&.user > span > a:before { @include icon(1,6,$icon); }
			&.settings{
				li { position: relative; }
				> span > a:before { @include icon(1,4,$icon); }
				// masqueraded checkbox
				a.masqueraded {
					width: 16px; height: 16px; padding: 0 0.2em 0.2em 0;
					margin: 0; position: absolute; left: -0.5em; top: -2px;
					display: block;
					&:before {
						@extend %sprites-sm; @include icon(1,32,$icon);
						content: ' '; position: relative; top: 2px;
						@include opacity(60);
					}
					&:hover:before {
						@include opacity(100);
					}
				}
				a { margin-left: 2em; }
			}
			&.help > span {	cursor: pointer; /* remove pointer here when chat is re-enabled */			
				> a:before { @include icon(1,8,$icon); }
				/*> ul > li {cursor: pointer;}	uncomment when chat is re-enabled*/
			} 
		}
	}
}
div#page > div#header > div.tools > .masquerade.switched {
	border-left-color: rgb(0,130,0); background-color: rgb(0,100,0);
}

.scroll_Down, .scroll_Up  {
	height: 20px;
	div#down, div#up {
		width: 10px;
		margin: auto;
		border: 0;
		position: relative;
		top: 7px;
		&:before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border: solid transparent 6px;
			border-top-color: rgb(75,75,75);			
			position: relative;			
		}
	}
	div#up {
		top: -1px;
		&:before {	
			border: solid transparent 6px;
			border-bottom-color: rgb(75,75,75);
		}		
	}

}

.scroll_Down:hover {
	background-color: rgb(0,0,0);
	@extend %corner-bl; @extend %corner-br;
	div#down:before{
		border-top-color: rgb(255,255,255);	
	}
}

.scroll_Up:hover  {
	background-color: rgb(0,0,0);
	div#up:before {
		border-bottom-color: rgb(255,255,255);	
	}
}

div#page > div#header > div.tools > h2#app_admin {
	&:hover ul { display: block; }
	div.expand {
		@extend %down-arrow;
	}
	b { 
		width: 148px; display: block; 
	}
	ul {
		@extend %reset; width: 213px; 
		display: none; position: absolute; top: 43px; background: darken($primary,15%);
		@extend %corner-b; @include shadow(rgba(0,0,0,0.5),0,1em); color: rgb(255,255,255); color: rgba(255,255,255,0.2);
		font-size: 0.8em; left: -16px; font-family: $font; text-transform: capitalize;
		li {
			a {
				display: block; width: auto;
				@extend %reset; padding: 0.6em 1em; border: solid rgba(0,0,0,0.8);
				border-top-color: rgb(255,255,255); border-top-color: rgba(255,255,255,0.2);
				color: rgb(255,255,255); border-width:  1px 0;
				&:hover { background-color: #000;}
			}
			&:first-child a { border-top: 0;}
			&:last-child a { border-bottom: 0; @extend %corner-b; }
		}
	}
}

#sungard_users tbody tr {
	&:hover td { 
		background-color: rgba(255, 255, 255, 0.8);
		color: $text;
	}
	&.no-results {
		td {
			background-color: rgba(255, 255, 255, 0.8);
			color: $text;
			cursor: pointer;
			&:hover {
				color: $text;
			}
		}
	}
}

div#page > div#header > div.tools > .masquerade.animate_company_userId {
	padding-top: 0px;
}

div#page > div#header > div.tools > .masquerade.animate_company_userId label{
	display: inline;
    opacity: 0;
    position: absolute;
    padding-top: 5px;
    -webkit-animation: swap_userId_copmany 20s ease-in-out infinite 0s;
    -ms-animation: swap_userId_copmany 20s ease-in-out infinite 0s;
    animation: swap_userId_copmany 20s ease-in-out infinite 0s;
}

div#page > div#header > div.tools > .masquerade.animate_company_userId label:nth-child(2) { 
    -webkit-animation-delay: 10s; 
    -ms-animation-delay: 10s; 
    animation-delay: 10s; 
}

@-webkit-keyframes swap_userId_copmany {
	0% { opacity: 0; }
    2.5% { opacity: 1; }
    47.5% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes swap_userId_copmany {
    0% { opacity: 0; }
    2.5% { opacity: 1; }
    47.5% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes swap_userId_copmany {
 	0% { opacity: 0; }
    2.5% { opacity: 1; }
    47.5% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
