// Lists and context lists
ul {
	margin: 1em 0 2em 0;
}
// general body lists
#section ul {
	@extend %reset;
	padding:1em 0 2em 3em;
	> li {
		@extend %reset;
		// Requires a sprite at the beginning of the file
		padding: 0 0 1em 20px; position: relative;
		> span {
			position: absolute; top: 50%; left: 0; margin-top:-14px;
			background:url('sprites.png') 0 0 no-repeat;
			display: block; width: $icon; height: $icon;
		}
	}
}

#dash { 
	clear: both; overflow: hidden; position: relative;

	> .slider {
		position: absolute; top: 0; left: 0; overflow: hidden;
		> div {
			display: table-cell; vertical-align:top; overflow-y: auto;
			table {@include shadow(#fff,0,0); }
			td.fill {border:none; padding: 0;}

			&#widgets {
				> div {
					overflow: auto;
				}
				div.pane[rel] h3:after {
					content: ' '; display: block;
	      			background: url('sprites.png') no-repeat; position: absolute;
	      			width: 16px; height: 16px; @include icon(1,21,$icon);
	      			top: 7px; right: 8px; cursor: pointer;
				}
				div.pane {
					width: 31.33%; @include corners(1em); height: 180px;

					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;         /* Opera/IE 8+ */

					float: left; background: #fff; margin: 1.3em 0 0 1.3em; overflow: hidden;
					@include shadow(#c8c7c2,0.2em,0.8em); position: relative;
					> h3 {
						padding:10px 10px 6px 10px; height:14px; line-height: 14px; font-size: 14px;
						position: relative;
					}
					> div {
						padding:0; height: 150px; overflow: hidden;
						table {
							@include shadow(#fff,0,0);
							th {
								background-color: #efefef;
								&:first-child { text-align: left; }
								&:last-child { text-align: right; }
							}
							td, th {padding:3px 10px; font-size:0.9em; line-height: 1.2em;}
							td:last-child { text-align: right;}
							td.interfaces:last-child { text-align: left;}
							tfoot {
								display: none;
							}
						}
						img.loading {
							left:50%; top:50%; position: absolute; margin-left: -8px; margin-top: -8px;
						}
					}
					#event_totals, #changes, #windows {
						display: table; width: 100%; border-spacing:1px; margin-top: 10px;
						div.row {
							display: table-row;
							> div {
								display: table-cell; background-color: #efefef; 
								-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
								-moz-box-sizing: border-box;    /* Firefox, other Gecko */
								box-sizing: border-box;         /* Opera/IE 8+ */
								@include corners(0.3em); @include text-shadow(0.04em, 0.04em, rgba(0,0,0,0.4), 0.1em);
								padding: 1em; color: #fff; @extend %shade; line-height: 1em;

								&.Critical {background-color: #ff2400}
								&.Error {background-color: #ff7800}
								&.Warning {background-color: #ffde00}
								&.Information {background-color: #1e50ff}

								> span {
									display: block; margin-top: -12px; font-size: 3em; text-align: right;
									line-height: 0.6em; @include text-shadow(0.04em, 0.04em, rgba(0,0,0,0.4), 0.1em);
									 line-height: 0.75em;
								}
							}
						}
					}
					#event_totals div.row > div { width:50%; }
					#changes, #windows {
						div.row {
							> div {
								background-color: #ccc; padding: 1.5em 1em 2em;
								> span {
									font-size: 4.5em; float: right; clear: left;
									margin-top: 2px;
									&:after {
										display: block; width: 1px; height: 1px; clear: both;
										content: ' ';
									}
								}
								> em {
									float: left;
								}
							}
						}
					}
				}
			}
			&#widgets {
				table { margin-bottom:0;}
				td { border:none; text-align: left;}
				h4 { 
					color: #fff; @extend %shade; margin: 0; padding: 3px 6px; @extend %corner-t;
					background-color: rgb(255,20,20);
				}
				form, ul {
					width: 50%; float: right; padding: 0;
					label, li {
						font-size: 0.9em; display: block; padding-bottom: 0.2em;
						input { margin: 0.25em 1em 0 0em; }
						span {
							background:none; @include corners(50%); width:11px; height:11px;
							margin-top:-15px; left:3px;
						}
					}
				}
				div.gauge {
					float: left; width: 40%;
					svg {
						margin: .5em 0em 0em 1em;
						text.label {font-size: 0.8em; color: #aaa;}
						text.percent { font-size: 1.9em; font-weight: 900;
						}
					}
				}
				div {
					svg {
						margin: 0;
					}
				}
				dl {
					margin:2px 0 0;
					dt {
						color: rgb(0,0,0); color: rgba(0,0,0,0.7); font-weight:900; padding: 4px 0 2px;
						font-size: 0.9em;
					}
					dd {
						font-size: 1.1em; padding: 0; margin: 0; min-height: 1.2em;
					}
				}
			}
			&#events {
				// see events.css.scss, override below for slider specifics
			}
			&#incidents_panel,&#changes_panel,&#mx_windows_panel {
				> div { overflow: auto;}
				tbody {
					margin: 0;
					}
				td.hide {display:none;}
			}
		}
	}
}

// Core color
body.core #buckets > div > h2 {
	border-top: 1px solid darken($core,20%); color: desaturate(lighten($core,20%),15%);
	@include chisel(darken($core,33%)); background-color: darken($core,33%);
	> span { color: lighten($core,25%); background-color: darken($core,30%); }
}

// buckets
#dash #components {
	> div { overflow: auto; }
	table { 
		margin-bottom: 0; 
		td, th {
			display: table-cell; vertical-align: top;
		}
		td.popup { display: none;}
	}
	h2 { border-left: none; }
	div > p {
		border: solid lighten($secondary,20%); border-width: 1px 0; border-bottom-color: lighten($secondary,5%);
		+ div {
			background-color:lighten(desaturate($secondary,5%),27%);
			li {
				padding: 0.16em 0;
			}	 
		}
	}
	ul {
		margin-left: 1em; margin-right: 1em;
	}
	h2 + div ul {
		margin:0; padding-left:2em;
	}
	li, dt {
		@extend %bullets; list-style: none;
	}
	p + div {
		display: none;
		dl {
			padding: 0 0.5em 0.5em 2em; margin: 0;
			dt {
				clear: left; width: 50%;
			}
			dt, dd {
				float: left; padding: 0.2em 1em 0 0; margin:0;
			}
		}
		&.active {
			display: block;
		}
	}
	p {
		font-weight: 900; @extend %arrow-dark; 
		padding-top: 6px; padding-bottom: 6px; margin-bottom: 0; margin-top: 0;
		span {
			padding: 2px 4px; @include corners(3px); display: inline-block;
			border: 1px solid rgba(100,100,100,0.6); font-size: 0.8em;
			line-height: 1em; height: 1em; position: absolute; top: 7px;
			right: 7px;
		}
		& + p {
			border-top: 1px solid lighten($secondary,5%);
		}
	}
}

// multiselect

.ui-multiselect-menu {
	@include corners(4px); @include shadow(rgba(0,0,0,0.7),0,1em);
	li {
		list-style: none; padding: none;
		label {padding: 3px 0;}
		.status {
			left: 3px; position: relative; top: 5px; 
		}
	}
}

