body.tools #header {
	z-index: 9999; position: fixed;
}
body.tools #page {
	padding: 60px 0 35px;
}
body.tools #page > h2:first-child {
	position: fixed; top: 38px;
}

#header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b4a78c, endColorstr=#a79374);       
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b4a78c, endColorstr=#a79374); 
	background: -webkit-gradient(linear, left top, left bottom, from(#b4a78c), to(#a79374));       
	background: -moz-linear-gradient(top, #b4a78c, #a79374);       
	> div { display: table; width: 100%; 	
		> div { display: table-cell; vertical-align: top; }
	}
	position: relative; left: 0; right: 0; top: 0;
	@include shadow(#000,0,.5em);
	.logo {
		display: block; position: absolute; top: 0; left: 0; height: 38px; width: 130px;
		background: url(<%= asset_path 'logo.png' %>) no-repeat 50% 50%;
	}


	div.tools {
		width: 406px; border-left:1px solid #fff; background: #666; padding: 0;

		> ul {
			margin: 0; padding: 0; width: 350px;
			>li {
				width: 28px; padding: 8px 0 8px 15px;
				&#device_search {
					width: auto; padding: 0;	
				}
				&:hover > a { background-position: -28px 0; }
				> a {
					outline: none; display: block; background: url(<%= asset_path 'gear-and-user-with-tickv2.png' %>) 0 0 no-repeat;
					width: 28px; height: 21px; padding: 0; white-space: nowrap;

				}
				ul {
					position: absolute; top: 100%; left: 0; width: 150px;
				}
				&.user {
					&:hover > a { background-position:-28px -21px; }
					> a { background-position:0 -21px; }
				}
				&.refresh {
					&:hover > a { background-position:-28px -42px; }
					> a { background-position:0 -42px; }
				}
			}
		}
	}
}

/* Sprites */
.icon {
	display: block; width: $icon; height: $icon; background: no-repeat ;
	/* Defines which icon shows */
	.default { background-position: ($icon * 0) ($icon * 0);}
}

/* Navigation */

div.tools {
    padding-left: 130px;
    ul, li, a {
    	@extend %reset;
    	list-style: none; display: block;
    }
    ul {

    }
    li + li {
    }
    li {
    	float: left; position: relative; z-index: 999999;
    	ul {
    		@include shadow(#666,0,1.5em);
    		@include corner(left,bottom,6px);
    		@include corner(right,bottom,6px);
    		position: absolute; top: 100%; left: 0; width: 200px; display: none;
    		background: #fff; padding: 8px 0; clip: rect(0px, 1000px, 1000px, -1.5em); 
    		li {
    			float: none; border:none;
    			a {
    				padding: 5px 10px; 
    			}
    			a:hover {
    				background: $primary; color: #fff;
    			}
    		}
    	}
    }
    li:hover ul {
    	display: block;
    }
    > ul > li > a {
   		font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    	font-size: 14px; line-height: 14px; height: 14px; padding: 12px 13px 12px 3px; width: 155px;
    	color: #fff; text-transform: uppercase; font-weight: normal; letter-spacing: 0;
    	text-align: center;
    	b {
    		position: absolute; top:18px; right: 6px; z-index: 999;
    	}
    }
    > ul > li > a:hover {
    	background:#8c7755;
    }
}

body.admins li.sg-mega {
	> ul {
		width:400px;
		> li {
			float: left; width: 200px;
			> a {
				font-weight: 900; font-size: 13px; border-bottom: 1px solid $primary; 
				margin: 0 10px; padding: 5px 0; cursor: default; color: #000;

			}
			> a:hover {
				background: none;
			}
			ul {
				@include shadow(#000,0,0);
				@include corners(0);
				position: static; left: auto; top: auto; width: auto;
				li {
					width:auto; float: none;
				}
			}
		}
	}
}
