$corners : 0.8em;

body.single-column div#page > div#section table.grid {
    // @include shadow(#666,0,0.5em);
    // @include corners($corners + .2);
    thead {
        td, th {
            &:first-child {
                //@include corner(top,left,$corners);
            }
            &:last-child {
                //@include corner(top,right,$corners);
            }
            &:only-child {
                //@include corner(top,left,$corners);
                //@include corner(top,right,$corners);
            }
        }
    }
    tfoot {
        td {
            &:first-child {
                //@include corner(bottom,left,$corners);
            }
            &:last-child {
                //@include corner(bottom,right,$corners);
            }
            &:only-child {
                //@include corner(bottom,left,$corners);
                //@include corner(bottom,right,$corners);
            }
        }
    }
}

table.grid {
    clear: both;
    //@include shadow(#666,0,0.5em);
    //@include corners($corners + .2);
    border-spacing: 0; width: 100%; //margin-bottom: 2em;
    td, th {
        border-bottom: 1px solid lighten($secondary,20%);
        border-top: 1px solid rgba(255,255,255,0.9);
        padding: 10px; white-space: nowrap;
        &.center {
            text-align: center;
        }
    }
    td.active {
        color: #379E5F
    }
    td.inactive {
        color: #A71117
    }
    tbody tr.alternate td {
        // background: none repeat scroll 0 0 rgba(255,255,255,0.6) !important;
        div.nodata {text-align:center;}
    }
    tbody tr:nth-child(odd) td {
        background: none repeat scroll 0 0 rgba(255,255,255,0.6) !important;
    }
    thead {
        td, th {
            whitespace: nowrap;
            // @extend %glass;
            background-color: desaturate($secondary,20%);
            // border-bottom: 2px solid lighten($secondary,15%);
            border-top: none; text-align: left;
            // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            // font-family: $hfont; font-size: 1.2em; 
            color: #fff;
            &:first-child {
                @include corner(top,left,$corners);
//                border-left: 1px solid #888;
            }
            &:last-child {
                @include corner(top,right,$corners);
            }
            &:only-child {
                @include corner(top,left,$corners);
                @include corner(top,right,$corners);
            }
            &.bucket_name div {
                @include corners(0.6em); background: rgb(255,255,255); background: rgba(255,255,255,0.3);
                @include shadow(rgba(0,0,0,0.4),0.1em,0.1em); 
                padding: 0.2em 0.5em; float: left;
            }
        }
       
    }
    tfoot {
        td {
            // @extend %glass;
            // background-color: $secondary;
            background-color: desaturate($secondary,20%);
            border-bottom: 0 none;
        }
        td:first-child {
            @include corner(bottom,left,$corners);
        }
        td:last-child {
            @include corner(bottom,right,$corners);
        }
        td:only-child {
            @include corner(bottom,left,$corners);
            @include corner(bottom,right,$corners);
        }
    }
    &.dark tbody tr:nth-child(odd) td {
        background: #333 !important;
    }
}

footer table {
    //@include shadow(#fff,0,0); clear: both;
    tr {
        @include opacity(70);
        &:hover {
            @include opacity(100);
        }
    }
    td {
        padding: 3px 6px; font-size: 11px; text-align: right;
        &:first-child {
            text-align: left;
        }
        &:nth-child(3n), &:nth-child(4n) {
            display: none;
        }
    }
}

#devices_list_length, .dataTables_wrapper .dataTables_length, #devices_list_filter, .dataTables_wrapper .dataTables_filter {
    padding: 1em;
}
#devices_list_length, .dataTables_wrapper .dataTables_length {
    padding-top: 1.25em;
}
#devices_list_info, .dataTables_wrapper .dataTables_info {
    position: fixed; bottom: 25px; width: 100%; left: 0; padding: 1em; background: lighten($secondary,35%);
}
#devices_list_paginate, .dataTables_wrapper .dataTables_paginate {
    position: fixed; bottom: 25px; right: 0; padding: 1em;
    a { 
        background-repeat: no-repeat; display: inline-block; font-size: 1em;
        cursor: pointer; position: relative; top: 2px; margin:0px 5px; padding:0px 5px;
        &.paginate_button {
            &.current {background-color: #ddd; border:1px solid #ccc;color:#111d2e; }
            &.disabled {@include opacity(21);cursor: default; }
            &.disabled:hover {color:#3e66a5; }
        }
    }
    a.paginate_enabled_next { background-image: url('next.png');}
    a.paginate_enabled_previous { background-image: url('prev.png');}
    a.paginate_disabled_next { background-image: url('next-disabled.png');}
    a.paginate_disabled_previous { background-image: url('prev-disabled.png');}
}

#devices_list, table.apply_datatable,  table.delay_apply_datatable {
    tr.even,
    tr.odd a, 
    tr.even a,
    tr.odd:hover, 
    tr.even:hover,
    tr.odd:hover a, 
    tr.even:hover a,
    tr.odd:hover td, 
    tr.even:hover td,
    tr.odd td.sorting_1,
    tr.even td.sorting_1,
    tr.alternate td
    { background: none; }
    .sorting_desc { 
        background-image: url('sort_desc.png');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }
    .sorting_asc { 
        background-image: url('sort_asc.png');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }
    .sorting { 
        background-image: url('sort_both.png');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }
    tr.odd { background: rgb(255,255,255)}
}

table.grid th[class~="sorting"], table.grid th[aria-sort] {
    padding-right: 1.75em;
    &:hover { background-color: lighten($secondary,5%) !important;}
}

.dataTables_wrapper { position: absolute !important; top: 0; right: 0; left: 0; bottom: 42px; margin-bottom: 26px; overflow: auto; }