// UI elements

#page {
	#logo {
		width: 46;
	}
	div#nav.black > ul { left: 51px; }	
// branding
	&.sungard 
		{
			#logo {
				background: url('sas_logo.png') no-repeat 50% 50%; width: 47px;
				// background: rgba(0,0,0,0) url('sas_logo.svg') no-repeat 50% 50%; width: 47px;
				background-size: auto 30px;
}
			div#nav.black > ul { left: 51px; }
			// footer
			#footer span.sungard { display: inline; }
			#footer span.allstream { display: none; }
		}
	&.allstream 
		{ 
			#logo { background: url('allstream-logo.png') no-repeat 20px 0; width: 125px; }
			div#nav.black > ul { left: 125px; }
			// footer
			#footer span.sungard, #footer b.sungard, #footer em.sungard { display: none; }
			#footer span.allstream { display: inline; }
		}
	&.generic 
		{ 
			#logo { background: url('home-screen.png') no-repeat 0 0; width: 46px; }
			div#nav.black > ul { left: 46px; }
			// footer
			#footer span.sungard { display: inline; }
			#footer span.allstream { display: none; }
		}
}


%button {

}

// dash icons

body.single-column.dash > div#page > #section { padding: 0; }

#section {
	ul#dash {
		> li {
			a {
				font-size: 18px;
				line-height: 20px;
			}
			&.ticketing span {@include pos(0);}
			&.open_tickets span {@include pos(1);}
			&.events span {@include pos(2);}
			&.viewpoint span {@include pos(3);}
			&.zenoss span {@include pos(4);}
			&.infrastructure span {@include pos(5);}
			&.circuit span {@include pos(6);}
			&.logs span {@include pos(7);}
			&.cloud span {@include pos(8);}
			&.recovery span {@include pos(9);}
			&.smokeping span {@include pos(10);}
			&.wiki span {@include pos(11);}
			&.reports span {@include pos(12);}
			&.dns span {@include pos(15);}
			&.kb span {@include pos(13);}
			&.ug span {@include pos(14);}
			&.chat span {@include pos(16);}
		}
	}
}

#device_time {
	td.head {
		text-align: left;
		b {
			font-size: 2.1em; color: $primary; padding-bottom: 0.2em;
			display: block;
		}
		div {
			padding-bottom: 1em;
		}
	}
	td {
		b {

		}
		div {
			color: rgb(0,0,0); color: rgba(0,0,0,0.3); font-size: 0.8em;
		}
	}
}

// loading graphic
div.loading {
	display:none; text-align: center; height:auto;
	> div.image {
	background: 50% 50% url('ajax-loader.gif') no-repeat; height: 100%; margin: -8px 0 0 -8px;
	min-height: 16px;
	}
}
div.loading_small {
	display:none; width: 16px; height:16px; float: right;
	> div.image {
	background: url('ajax-loader-white.gif') no-repeat; height: 100%;
	}
}

#dash div.nodata {text-align:center;margin:20%;font-weight:bold;}

// login page
#login {
	margin: 7em auto; width: 350px; @include corners(1em); @include shadow(rgba(0,0,0,0.2),0,3em);
	padding: 120px 2em 2em 2em; background: url('vp-logo-big.png') no-repeat 45% 3em #fff;
	form {
		> div {
			display: table; border-spacing: 1em; width: 100%;
			> div {
				display: table-cell; width: 40%;
				label { font-size: 10px; }
				input { 
					width: 95%; @include corners(1em);	border: solid rgba(0,0,0,0.2) 1px; padding: 0.25em;
				}
			}
			div.actions {				
				input {
					width: 100%; background: $secondary; @include corners(1em); padding: 0.4em;
					border: none; color: #fff; 
					-moz-box-sizing:border-box;
					box-sizing: border-box;
				}
			} 
		}
	    > div#confirmation {
	      div.actions {vertical-align: bottom}      
	    }
	    > div#password_guidance {
	    	span {color: rgb(180,180,180)}
	    }
	    > div.error_messages {
	      h3:before {
	      	content: "* ";
	      	color: #FF0000;
	      }     
	    }	    		
	}
}

div.dialog {
	margin: 7em auto; width: 350px; @include corners(1em); @include shadow(rgba(0,0,0,0.2),0,3em);
	padding: 2em; background: #fff; text-align: center;
}

div.dialog_form {
	form {
		@extend div.dialog; margin: 2em auto; width: auto !important; min-width: 25%;
		text-align: left;
		input {
			background: #f0efea;
		}
		input, select { margin-bottom: 1em !important; }
	}
}
a.close { display: block; padding-top:18px; cursor: pointer; }

td.new_edit {
	vertical-align: middle;
	a.close { display: none; color: lighten($primary,30%); cursor: pointer; }
} 
#new_user_dropdown {
	tr.new_edit { display:none; }
	td.new_edit * { display:none; }
	td.new_edit a.close { display:block; }
}

// needs a home
td.popup, #dash > div#components table td.popup, #dash > div#components table th.popup {
	display: none;
}

#components > div { overflow: none; }

#devices_list tr { cursor: pointer;}

body.tools div#header > div.tools { display: none; }

.error_messages { 
	p, div.errors {
		font-weight: 900; padding: 0.5em 1em; margin: 0.5em ; 
		@include corners(0.3em);
		background: #FFFFBE; border: 1px solid #F8ED67;
	}
	> div.errors {
		ul {
			padding: 10px 20px !important;
			li {
				list-style: disc !important;
				padding:5px 0px !important;
			}
		}
		h3 {
			color: #FF0000;
			padding:0px;
			font-size: 1.3em;
		}
	}
}

#new_user_dropdown #admin_form div.error_messages { color: #000; display: none } // hide for now

#section table tbody td a.mime-icon {
	@extend %sprites-sm; width: 32px; margin: 0 2px; position: relative; top: 2px;
	&[href$=".pdf"] { 
		@include corners(2px); color: #EEEEEE; text-align: center;
		font-size: 12px; font-weight: 700; line-height: 16px;
		border: 1px solid #4E4847; background: #6B6464;  
	}
	&[href$=".csv"] { 
		@include corners(2px); color: #EEEEEE; text-align: center;
		font-size: 12px; font-weight: 700; line-height: 16px;
		border: 1px solid #4B524D; background: #626B64;  
	}
	&[href$=".txt"] { 
		@include corners(2px); color: #EEEEEE; text-align: center;
		font-size: 12px; font-weight: 700; line-height: 16px;	
		border: 1px solid #4D4F61; background: #667983; 
	}
	&[href$=".rst"] { 
		@include corners(2px); color: #EEEEEE; text-align: center;
		font-size: 12px; font-weight: 700; line-height: 16px;
		border: 1px solid #4D5B61; background: #676A83; 
	}
	& + div { display: inline-block; padding-left: 10px; }
}


// new and edit user disclaimers
td.acknoweledge {
  p {
      margin-left: 3.2em; padding-bottom: 2em;
  }
  > p {
      border-top: 1px solid #EEEEEE;
      margin: 2em 0 0;
      padding-top: 2em;
  }
  a{
  	font-weight: bold;
  }
  > div > div { float: left;}
  input { margin: 1em; }
}

input.controlled[disabled] {
    @include opacity(30); cursor: default;
}
select, button, input {
	&.text-only {
		border: none; padding: 0; margin: 0; display: inline; background: none;
		font-size: 1.2em; color: #999; font-weight: 900; outline: none;
	}
}

.cursorPointer {
	cursor: pointer
}