<div id="admin_form">  
<%= form_for [:sungard,@role] do |f| %>
<table>
    <% if @role.errors.any? %>
      <tr>
        <td colspan="100">
          <div class="error_messages">
            <div class="errors">
              <ul>
                <% for message in @role.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
        <% if flash[:notice] %>
            <div class="error_messages"><p><%= flash[:notice] %></p></div>
        <% end %>
          </td>
        </tr>
      <% end %>
    <tr><td colspan="100">Fields marked with <span class="red">*</span> are mandatory</td></tr>
    <tr>
      <td>
        <label for="role_name">Name <span class="red">*</span></label>
        <% if @role.new_record? %>
          <%= f.text_field :name %>
        <% else %>
          <%= f.text_field :name, :readonly => true%>
        <% end %>
      </td>
    </tr>
  <tr>
    <td>
      <%= f.label :display_name %>
      <%= f.text_field :display_name %>
    </td>
  </tr>
  <tr>
    <td>
      <label for="role_description">Description <span class="red">*</span></label>
      <%= f.text_field :description, :size => 60 %>
    </td>
  </tr>
  <tr>
    <td>
      <% if not @role.new_record? %>
           <%= f.label :position %>
           <em>Lower position numbers have higher  role importance </em>
           <%= f.text_field :position, :size => 4 %> 
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
</div>

