<% content_for :tools_name, "Roles" %>
<%= render "sungard/shared/tools" %>
<h2>Sungard Availability Services application admin<%= @toolname %></h2>
<%= link_to 'add role', new_sungard_role_path, :class => 'add button' %>
<a class="button" onclick="window.history.back()">back</a>
