<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<table id="roles_list" class="grid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Display Name</th>
      <th>Description</th>
      <th>Active</th>
      <th>Position</th>
      <th></th>
    </tr>
  </thead>

<% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.name, edit_sungard_role_path(role) %></td>
    <td><%= role.display_name %></td>
    <td><%= role.description %></td>
    <td><%= role.active %></td>
    <td><%= role.position %></td>
    <% if role.active? %>
    <td><%#= link_to 'Delete', [:sungard, role], confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
      <td colspan="3"></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

