<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<table id="statements" class="display grid">
  <thead>
    <tr>
      <th>Email</th>
      <th>Access Token</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
</thead>
<tbody>
<% @api_keys.each do |api_key| %>
  <tr>
    <td><%= api_key.email %></td>
    <td><%= api_key.access_token %></td>
    <td><%= link_to 'Show', sungard_api_key_path(api_key) %></td>
    <td><%= link_to 'Edit', edit_sungard_api_key_path(api_key) %></td>
    <td><%= link_to 'Delete', [:sungard, api_key], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />
<%= link_to 'New API Key', new_sungard_api_key_path %>