<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>
<% content_for :requirejs do %>

  require(['application'], function(app){
  })

<% end %>
<p>
  <%= @api_key.email %>
</p>

<p>
  <%= @api_key.access_token %>
</p>

<%= link_to 'Edit', edit_sungard_api_key_path(@api_key) %> |
<%= link_to 'Back', sungard_api_keys_path %>