<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  } 
}
%>

<% @sungard_match = sungard_match(@user) %>
<div id="admin_form" class="admin_user_form">
<%= form_for [:admin,@user] do |f| %>
<%= f.hidden_field :old_contact_guid %>
  <table>
  <% if @user.errors.any? %>
    <tr>
      <td colspan="100">
        <div class="error_messages">
          <div class="errors">
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% else %>
    <% if flash[:notice] %>
        <div class="error_messages"><p><%= raw flash[:notice] %></p></div>
    <% end %>
      </td>
    </tr>
    <% end %>
    <tr><td colspan="100">Fields marked with <span class="red">*</span> are mandatory</td></tr>
    <tr>
      <td colspan="3">
        <div style="float: left;width: 49%;">
          <label for="user_first_name">First&nbsp;Name <span class="red">*</span></label>
          <%= f.text_field :first_name %>
        </div>  
        <div style="float: right;width: 49%;">
          <label for="user_last_name">Last&nbsp;Name <span class="red">*</span></label>
          <%= f.text_field :last_name %>
        </div>  
      </td>
    </tr>
    <tr>
      <%-# email is required on create, but it cannot be updated -%>
      <td colspan="3">
        <div style="float: left;width: 49%;">
          <label for="user_email">Email <span class="red">*</span></label>
          <% if @user.new_record? %>
            <%= f.text_field :email, :class => @sungard_match %>
          <% else %>
            <%= f.text_field :email, :disabled => @user.is_sungard?, :class => @sungard_match %>
          <% end %>
        </div>
        <div style="float: right;width: 49%;">
          <%= f.label :secondary_email %>
          <%= f.text_field :secondary_email, :class => @sungard_match %>
        </div>  
      </td>
    </tr>
      <%-# phone_number is required -%>
    <tr>
      <td class="first">
        <label>Country Code <span class="red">*</span></label>
        <%= f.collection_select :phone_number_cc, CountryCode.order(:name), :dial_code, :display_name, 
        :include_blank => '-Please Select-' %>
      </td>
      <td class="second">
        <label for="phone_number">Business&nbsp;Phone <span class="red">*</span></label>
        <%= f.text_field :phone_number, :class => 'phonefield' %>        
      </td>
      <td class="third">
        <label for="phone_number">ext.</label>
        <%= f.text_field :phone_number_ext %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
       <label>Business Phone Notes</label>
       <%= f.text_field :business_phone_notes %>
    </td>  
    </tr>
    <tr>
      <td class="first">
        <label>Country Code<span class="red optional" id="cellphone">*</span></label>
        <%= f.collection_select :cell_phone_cc, CountryCode.order(:name), :dial_code, :display_name, 
        :include_blank => '-Please Select-' %>
      </td>
      <td class="second">
        <label for="phone_number">Cell Phone</label>
        <%= f.text_field :cell_phone, :class => 'phonefield' %>
      </td>
      <td class="third">
        <label for="phone_number">ext.</label>
        <%= f.text_field :cell_phone_ext, :class => 'phone_ext' %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Cell Phone Notes</label>
        <%= f.text_field :cell_phone_notes %>
    </td> 
    </tr>
    <tr>
      <td class="first">
        <label>Country Code<span class="red optional" id="phone3">*</span></label>
        <%= f.collection_select :phone_3_cc, CountryCode.order(:name), :dial_code, :display_name, 
        :include_blank => 'Please Select' %>
      </td>
      <td class="second">
        <label for="phone_number">Phone 3</label>
        <%= f.text_field :phone_3, :class => 'phonefield' %>
      </td> 
      <td class="third">
        <label for="phone_number">ext.</label>
        <%= f.text_field :phone_3_ext, :class => 'phone_ext' %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Phone 3 Notes</label>
        <%= f.text_field :phone_3_notes %>
      </td>    
    </tr>
    <tr>
      <td class="first">
        <label>Country Code<span class="red optional" id="phone4">*</span></label>
        <%= f.collection_select :phone_4_cc, CountryCode.order(:name), :dial_code, :display_name, 
        :include_blank => '-Please Select-' %>
      </td>
      <td class="second">
        <label for="phone_number">Phone 4</label>
        <%= f.text_field :phone_4, :class => 'phonefield' %>
      </td> 
      <td class="third">
        <label for="phone_number">ext.</label>
        <%= f.text_field :phone_4_ext, :class => 'phone_ext' %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Phone 4 Notes</label>
        <%= f.text_field :phone_4_notes %>
      </td> 
    </tr>
    <tr>
      <%-# time zone is required -%>
      <td colspan="3">
        <label>Time zone <span class="red">*</span></label>
        <%= f.collection_select :time_zone, Timezone.order(:label), :label, :label, :include_blank => '-Please Select-' %>
      </td>
    </tr>  
    <tr>
        <td class="roles" colspan="2">
          <% if (current_user.is_company_admin?) || (current_user.is_sungard_admin?) || (current_user.is_viewpoint_admin?) %>
            <label>Roles</label>
            <% if Role.active_roles(current_user.roles).size > 0 %>
              <% available_roles(@sungard_match).each do |role| %>
                <div>
                    <%= check_box_tag "user[roles][]",role.name, @user.roles.include?(role.name), {:id => "user_roles_",:title => role.description} %>
                    <%= role.display_name.blank? ? role.name.titleize : role.display_name %>
                 </div>
              <% end unless available_roles(@sungard_match).blank? %>
            <% else %>
              <div style="margin-bottom: 2em; font-size: 0.8em;">no roles set</div>
            <% end %>
          <% end %>
        </td>
       <td>
        <%= render :partial => "active_checkbox_sso_#{APP_CONFIG["open_id_version"].downcase}", 
        :locals => { :f => f}%>
       </td>
    </tr>
    <tr><!-- new disclaimer -->
      <td class="acknoweledge" colspan="100">
        <p>You must acknowledge the statement below before submitting this request.</p>
        
        <div>
          
          <div><input type="checkbox" class="sh_acknowledge"></div>
          <p>The personal information you enter into this portal will be used by Sungard Availability Services(Sungard AS) to provide services on your behalf and will be treated pursuant to the Sungard AS <a href="http://www.sungardas.com/Company/Privacy/Pages/Privacy.aspx" target="_blank"
          title="Sungard AS: Privacy Policy"> Privacy Policy</a>. By checking the box below, you acknowledge that you have read and understood the Sungard AS Privacy Policy, and that you agree to the processing of the personal information you enter as described in this
          policy and that you have the authority to provide Sungard AS with the
          personal information you provide.</p>

        </div>

      </td>
    </tr>

    <tr>
      <td class="new_edit first">
        <a class="close">close</a>
      </td>
      <td class="second">
      </td>
      <td class="third">
        <label></label>
          <%= f.submit "save profile",  disabled: true, class: 'controlled' %>
      </td>
    </tr>
  </table>

<% end %>

<% if not @user.new_record? and not (@user.is_sungard?) %>
  <%= form_tag admin_user_password_resets_path, :id => 'reset_password', :method => 'post' do %>
    <table>
      <tr>
        <td>
    <%= hidden_field_tag :email, @user.email %>
    <a href="#" onclick="$(this).closest('form').submit()">reset password</a>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>

<% if not @user.new_record? and (@user.is_sungard?) %>
  <form id="reset_password">
    <table style="padding-top:0px;padding-right:258px;">
      <tr>
        <td style="text-align: center;">
          <a href='https://passwordmanager.sungardas.corp' target='_blank'> Password Management </a>
        </td>
      </tr>
    </table>
  </form>
<% end %>

<% if @sungard_user == true %>
  <input type="hidden" name="sungard" value="true">
<% end %>

</div>
