<% unless action_name == "edit" || action_name == "update" %>
<h2 id="user_types" class="no_left_border">  
<a href='/admin/users?company_id=<%=params[:company_id] %>' 
  title='These are users deployed to Portal with login credentials and ability to perform self-service tasks including ticketing, viewing assets, and reports.'>portal users</a>  
  <a class="active" title='These users are unable to login to Portal and only used as a contact for notifications, authorizations, and ticketing.'>non-portal users</a>
</h2>
<% end %>