<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>

<div class="dialog_form">
  <div id="admin_form">
  <%= form_for @user, :url => update_password_admin_user_path(@user), :method => :put do |f| %>
    <%= render :partial => "shared/errors", :locals => {:object => @user} %>
    <!-- div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div -->
    <%= render :partial =>"services/confirmations/password", :locals => { :f => f} %>
    <div>
      <label></label>
      <%= f.submit "Confirm" %>
    </div>
  <% end %>
  </div>
</div>