<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>
  require(['application'], function(app){
    app.module('users').start({"guid": '<%= @company_id %>'});
  })

<% end %>


<% if flash[:notice] %>    
  <div class="error_messages"><p><%= flash[:notice] %></p></div>
 <%end%> 
<div class="dialog">
   <table>
    <tr><th colspan="2"><h3>Change Email Request</h3></th></tr>
    <tr>
      <td><b>Existing Email Address:-</b></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><b>Requested Email Address:-</b></td>
      <td><h4><%= @user.pending_email %></h4></td>
    </tr>
    <tr>
    	<td colspan="2"><p>Please check <i> <%= @user.pending_email%></i> for details </p></td>
    </tr>
    <tr>
    	<td colspan="2"> <%= button_to "OK", root_path(), :method => :get %></td>
    </tr>		
   </table>	
</div>