<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('sungard').start();
  })

<% end %>

<table class="grid">
    <tr>
        <td class="header_form" colspan="2">
            <%= form_tag sungard_welcome_index_path, :method => 'get', :class => 'submit-button' do %>
               <div class="field">
                    <%= text_field_tag 'search',params[:search] || '', :placeholder =>'search users', :class => 'apply_focus' %>  
                    <%= submit_button 'search' %> <span>(only returns top 8 matches)</span>
                  </div>    
            <% end %>
        </td>
        <td class="header_form">
        </td>
    </tr>
</table> 
<table id="sungard_users" class="grid">   
  <% if @users %>
    <% if flash[:notice] %>
        <div class="error_messages"><p><%= raw flash[:notice] %></p></div>
    <% end %>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Company</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="apply_click">
    <% if @users.empty? %>
        <tr class="no-results"><td colspan="5" style="cursor:default">No Data</td></tr>
    <% else %>
      <% @users.each do |user| %>
        <tr id="<%= user.id%>" class="clickable">
            <td><%= link_to user.first_name, edit_admin_user_path(user) %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.company_name %></td>
            <% unless user.is_sungard? %>
              <td style="width: 1%;"><%= button_to '&times;'.html_safe, admin_user_path(user, :search => params[:search]), :class =>"text-only", :method => "delete", form: { :onsubmit => "return confirm('Are you sure you want to delete this user?')"} %></td>
            <% else %>
             <td>&nbsp;</td> 
            <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  <% end %>
</table>
