<div class="error_messages" style="display:none;"><p class="success"></p></div>
<div id="custom_report">
  <%= form_for(@req) do |f| %>
  <% if @form_type == "new" %>
    <input type="hidden" id="req_report_name" name="report_name" value="Health Report / Device Detail"/>
    <!-- form for new -->
    <ul class="form_list">
      <li>
        <%= f.label :report_id, "Report" %>
        <%= f.collection_select :report_id, Req.new_report_id, :first, :last %>
      </li>

      <li class="setg">
        <%= f.check_box :show_graphs,{:checked=>true} %> show graphs
      </li>

      <li class="set">
        <%= f.label :report_type, "Report Type" %>
        <%= f.collection_select :report_type, report_type, :first, :last %>
      </li>

      <!-- "Health..."" and "Raw Polled..." -->
      <li class="radio_group set0">
        <label><input type="radio" name="report_subject" class="report_subject group" value="group" /> Group</label>
        <label><input type="radio" name="report_subject" class="report_subject device" value="device" /> Device</label>
      </li>
      <li id="report_subjects" class="set1"> 
        <div class="set1a">
        <%= f.collection_select :group_guid, {}, :id,:name, 
          {:include_blank => 'Select Group'}, {:class => 'group'} %>
        </div>
        <div class="set1b">
        <%= f.collection_select :device_guid, {}, :asset_guid,:name,  
          {:include_blank => "Select Device"}, {:class => "device"} %>
        </div>
      </li>

      <li class="set3">
        <%= f.label :area %>
        <%= f.select :area, {}, 
          {:include_blank => 'Select Area'} %>
      </li>
      <li class="set3">
        <%= f.label :cabinet, "Cabinet" %>
        <%= f.select :cabinet, {}, 
          {:include_blank => 'Select Cabinet'} %>
      </li>
      <% if APP_CONFIG['bus_report_process'] %>
      <% end %>
    </ul>
    <ul class="form_cal">
      <li>
        <%= f.label :start_date, "Start Date" %>
        <%= f.text_field :start_date %>
        <div id="start_date_div"></div>
      </li>
      <li>
        <%= f.label :end_date, "End Date" %>
        <%= f.text_field :end_date %>
        <div id="end_date_div"></div>
      </li>
    </ul>
  <!-- /end form for new -->
  <% end %>

  <!-- Schedular -->
  <ul class="scheduler">
   <li>
      <label for="req_subscription">
        <%= f.check_box :subscription %>Schedule this for periodic delivery.
      </label>
    </li>
    <li class="set4">
      <%= f.label :frequency, "Frequency" %>
      <%= f.collection_select :frequency, frequency_range, :first, :last, 
        {:include_blank => 'Select Frequency'} %>
    </li>
    <li class="set4">
      <label>Time</label>
      <%= f.collection_select :delivery_time, time_range, :first, :last, 
        {:include_blank => 'Select Time'} %>
    </li>
    <li class="set4">
      <label>Time Zone</label>
       <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
    </li>
    <li class="set4 email">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, :value => @current_user_email %>
      <%= f.hidden_field :company_guid, :value => @current_user_company_guid %>
      <%= f.hidden_field :user_guid, :value => @current_user_guid %>
    </li>
  </ul>
  <!-- end scheduler -->

  <div class="form_submit">
    <!-- <a>close</a> -->
    <%= submit_tag "Submit" %>
    <div id="wait_progress">
      <div id="please_wait"></div>
      <div class="progress-bar blue stripes">
        <span style="width: 100%"></span>
      </div>
    </div>
  </div>
  
<% end %>

</div>
