<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('reports').start();
  })

<% end %>

<table id="reports" class="grid delay_apply_datatable">
  <thead>  
    <tr>
      <th class="bucket_name"></th>
      <th>File Size</th>
      <th class="default_sort">Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td colspan="100"><div style="padding: 1em; text-align: center;">Select a report type from the "browse reports" pull down.</div></td>
      </tr>
  </tbody>
</table>

