<% @requirejs_options = {
  'config' => {
    'application' => {
      'disableRouter' => true
    }
  }
}
%>

<% content_for :requirejs do %>

  require(['application'], function(app){
  app.module('reports').start();
  })

<% end %>

<table id="noti_table" class="grid delay_apply_datatable show_all">
  <thead>  
    <tr>
      <th>Notification</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td colspan="100"><div class="loading"><div class="image"></div></div></td>
      </tr>
  </tbody>
</table>