<!DOCTYPE html>
<html>
  <head>
    <title>Viewpoint Admin</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= requirejs_include_tag "sg/application" %>
    <%= csrf_meta_tag %>

    <script>
    <% if content_for?(:requirejs) %>
      <%= yield(:requirejs) %>
    <% else %>
      require(['application/page'], function(vp_page){
        vp_page.init()
      })
    <% end %>
    <% if APP_CONFIG["can_show_portal"] %>
      require(['ot-react-components','babel','es6','react','api','react-dom','mock-data', 'es6!header']);
    <% end %>

    </script>
  </head>

  <body class= 'admin single-column'>
    <%= content_for?(:body) ? yield(:body) : raw("<body>") %>
    <div id="page" class="<%= @branding %>">
      <div id="header">
        <% if APP_CONFIG["can_show_portal"] %>
          <div id="u_menu"></div>
        <% else %>
          <%= render :partial => "/shared/header" %>
        <% end %>
        <div class="tools unified_tools" id="tools-bar" style="visibility:hidden;">
          <%  if @masquerade %>
          <h2 class="masquerade"><span>impersonating</span><%= current_user.email %></h2>
          <%  end %>
          <% if @company_masquerade %>
            <h2 class="masquerade switched">
              <span>for&nbsp;company</span>
              <%= truncate @masq_company.name, :length => 20, separator: ' ' %>
            </h2>
          <% end %>
          <%= render :partial => "tools" rescue render :partial => '/admin/shared/tools' %> 
        </div>
      </div>

      <div id="aside">
      </div>

      <div id="section" class="unified_header">
      <%= yield %>
      </div>
      <div id="footer">
        <% if APP_CONFIG["can_show_portal"] %>
          <div id="u_footer" class="otrc"></div>
        <% else %>
          <%= render :partial => "footer" rescue render :partial => '/shared/footer' %>
        <% end %>
      </div>
      <div id="notifications">
      </div>
    </div>

<% if flash[:error] %>
    <div id="flash_error">
      <div>
        <h3>The following problems occurred while loading this page:</h3>
        <% flash[:error].each do |error| %>
        <p> <%= error %> </p>
        <% end %>
      </div>
    </div>
<% end %>
  </body>
  <script type="text/javascript">
    window.C = {};
    window.C.branding = "<%= @branding %>"
    window.C.impersonate = "<%= current_user.is_sungard? ? "user" : (session[:company_has_childs] && current_user.role?('switch_company') ? "company" : nil) %>"
  </script>
</html>


