<!DOCTYPE html>
<html>
  <head>
    <title>viewpoint - tools</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body class='<%= (@body_class.nil?) ? "" : "#{@body_class}" %> users'>
    <div id="page" class="<%= @branding %>" style="position: absolute; top: 38px; bottom: -28px; left: 0; right: 0;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>